mixin card(image, text, price, av)
	.product__items
		a.compare(href="#"): img(src="assets/images/compare.svg", alt="")
		a.image(href="#" style="background: url("+ image +") center / contain no-repeat; width: 100%; height: 145px;")
		span.type Тип: автоматическая
		p: a(href="#")= text
		span.size Рассчитан на 20-50 чашек
		if(av)
			.price__block
				.price
					span 774 140 руб.
					p= price
				.available
					p В наличии
		else
			.price__block
				.price
					p= price
				.available.not_available
					p Под заказ
		.action__block
			a.info.tt(href="#" title="Автоматическая кофемашина La Cimbali M100 HD DT2 предназначена для приготовления широкого спектра кофейных напитков и чая в кофейнях, барах и ресторанах. Благодаря русскоязычному меню можно легко контролировать вкусовые качества напитков..."): img(src="assets/images/info.svg", alt="")
			if(av)
				a.btn.btn-primary(href="#") В корзину
			else
				a.btn.btn-secondary.fancybox-modal(href="#product") Заказать