@media(max-width: 1449px) {
	main {
		h2 {
			font-size: 42px;
		}
		h3 {
			font-size: 42px;
		}
	}

	.container {
		padding: 0 30px;
	}

	.header {
		padding: 30px 0 50px 0;
		h1 {
			margin-bottom: 25px;
			font-size: 54px;
			line-height: 62px;
			color: #fff;
			span {
				&:before {
					content: '';
					background: url('../images/pen1.png') center /contain no-repeat;
					width: 150%;
					height: 130%;
				}
			}
		}
		a {
			font-size: 12px;
			margin-left: 35px;

			&.request {
				margin-left: 50px;
			}
		}
		.slick__header {
			margin-bottom: 0;

			&--items {
				padding-bottom: 70px;
				padding-left: 50px;

				& > span {
					font-size: 14px;
					margin-bottom: 20px;
				}
				& > p {
					font-size: 16px;
					max-width: 670px;
				}
			}
		}
	}

	.project {
		padding: 140px 0 100px;
		background: #fff url(../images/pj-bg.jpg) center -6% no-repeat;
		p {
			font-size: 14px;
			line-height: 28px;
		}
		.tab-content {
			margin-top: 70px;
		}
		.nav {
			margin-top: 60px;
			padding: 0 30px;
			&-link {
				font-size: 18px;
				line-height: 70px;
				&.active {
					&:before {
						width: 80px;
						height: 40px;
					}
				}
			}
		}
		.slick {
			&-list {
				margin: 0 -20px;
			}
			&__year {
				&--items {
					margin: 0 20px;
					strong {
						font-size: 21px;
					}
				}
			}
		}
	}

	.services {
		padding: 100px 0 80px;
		h2 {
			margin-bottom: 50px;
		}
		&__title {
			font-size: 21px;
			line-height: 1.4;
			padding: 50px 0;
			padding-left: 100px;
		}
		&__scroll {
			height: 200px;
			overflow: hidden;
		}
		&__image {
			height: 300px;
			width: 90%;
			margin-bottom: -60px;
			box-shadow: 0px 30px 90px -30px #0b1e50;

		}
		&__items.active {
			background: #fff url(../images/sv-bg.jpg) right bottom no-repeat;
		}
		&__body {
			padding-bottom: 0px;
			display: none;
			p {
				font-size: 16px;
				line-height: 2;
				color: #0f2c61;
				font-weight: 500;
			}
		}
	}

	.about {
		h2 {
			margin-bottom: 60px;
		}
		p {
			font-size: 15px;
			line-height: 32px;
			margin-bottom: 20px;
		}
		strong {
			font-size: 78px;
			margin: 40px 0;
			padding-right: 25px;
			& + p {
				font-size: 18px;
			}
		}
	} 

	.work {
		padding: 100px 0;
		h3 {
			margin-bottom: 60px;
		}
		&__title {
			p {
				font-size: 18px;
				line-height: 1.4;
			}
			span {
				font-size: 15px;
			}
		}
		&__hovered {
			strong {
				font-size: 18px;
			}
			p {
				font-size: 14px;
				line-height: 1.6;
			}
		}
		&__items {
			flex: 0 0 33.3333%;
			border: 2px solid #0f2c61;
			margin: -2px 0 0 -2px;
			height: 200px;
			.icon {
				height: 30px;
				width: 30px;
				margin-bottom: 20px;
				img {
					max-width: 100%;
				}
			}
			.text {
				font-size: 16px;
				line-height: 1.3;
				height: 32px;
			}
		}
	}

	.personal {
		padding: 120px 0 80px;
		h3 {
			margin: 0 0 70px;
		}
		&__count {
			font-size: 18px;
			line-height: 44px;
		}
		&__items {
			& > p {
				font-size: 16px;
				top: 135px;
			}
		}
	}

	.advantages {
		padding: 90px 0;
		background: url(../images/advn-bg.png) center 115% / 1320px auto no-repeat;
		h3 {
			margin-bottom: 80px;
		}
		.nav {
			margin-bottom: 170px;
			&-item {
				&:first-of-type {
					margin-top: 60px;
				}
				&:last-of-type {
					margin-top: 60px;
				}
			}
			&-link {
				font-size: 16px;
				line-height: 1.4;
			}
		}
		.tab-content {
			padding: 0;
		}
		.tab-pane {
			strong {
				font-size: 26px;
			}
			p {
				font-size: 14px;
			}
		}
	}

	.history {
		padding: 90px 0 50px;
		background: #fff;
		.title {
			margin-bottom: 65px;
		}
		&__items {
			&--video {
				padding-right: 30px;
			}
			&--text {
				padding-right: 30px;
			}
			span {
				margin: 0 0 20px;
				font-size: 14px;
			}
			p {
				font-size: 16px;
				line-height: 1.6;
			}
			a {
				font-size: 15px;
			}
		}
	}

	.faq {
		padding: 80px 0;
		h3 {
			margin-bottom: 60px;
		}
		&__title {
			font-size: 21px;
			line-height: 1.4;
			padding: 40px 0;
			padding-left: 100px;
		}
		&__body {
			padding-bottom: 30px;
			display: none;
			p {
				font-size: 14px;
				margin: 0 0 40px;
			}
		}
	}

	.blockquote {
		padding: 90px 0 70px;
		p {
			font-size: 18px;
		}
		span {
			font-size: 16px;
		}
	}

	.catalog {
		padding: 90px 0 70px;
		h3 {
			margin-bottom: 70px;
		}
		&__items {
			margin-bottom: 50px;
			a {
				font-size: 72px;
				background-size: 53px auto !important;
				padding-right: 65px;
			}
		}
	}

	footer {
		.map {
			width: 850px;
			height: 590px;
			min-width: 850px;
			.dot {
				&.b {
					right: 140px !important;
					bottom: 250px !important;
				}
				&.h {
					right: 230px !important;
					bottom: 200px !important;
				}
				&.k {
					left: 85px !important;
					bottom: 185px !important;
					.dot-popup {
						right: -340px;
					}
				}
				&-popup {
					padding: 30px;
					width: 300px !important;
					left: -340px;
					z-index: 3;
					background: #fff url(../images/map-bg.jpg) right -50px no-repeat;
					strong {}
					p {
						font-size: 12px;
					}
					a {
						&.phone {
							font-size: 24px;
						}
					}
				}
			}
		}
		.bottom {
			margin-top: 70px;
		}
	}

	nav {
		padding: 120px 0;
		ul {
			li {
				margin-bottom: 30px;
			}
			a {
				font-size: 18px;
				font-weight: 500;
			}
		}
		.phone {
			margin-bottom: 30px;
			font-size: 24px;
		}
		.mail {
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
}