@media(max-width: 575px) {
	body {
		padding: 0;
	}
	header {
		padding: 30px 0;
		a.logo {
			margin-right: 10px;
			& + p {
				font-weight: 500;
			}
		}
		a.menu {
			span {
				margin: 0;
				width: 42px;
				height: 42px;
			}
		}
	}
	main {
		padding: 0;
		z-index: 101;
	}
	h2, h3 {
		font-size: 24px !important;
	}
	.container {
		padding: 0 15px;
	}
	.header {
		padding: 50px 0 80px 0;
		.slick-dots {
			&-header {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
			}
		}
		h1 {
			font-size: 22px;
			line-height: 1.4;
			margin-bottom: 15px;
			br {
				display: none;
			}
		}
		a {
			font-size: 16px !important;

			&.request {
				margin-left: 30px;
			}
		}
		.slick__header {
			margin-bottom: 0;

			&--items {
				padding-bottom: 20px;
				padding-left: 30px;

				& > span {
					font-size: 12px;
					margin-bottom: 10px;
				}
				& > p {
					font-size: 14px;
					max-width: 670px;
				}
			}
		}
	}
	.project {
		padding: 60px 0;
		background: #fff url(../images/pj-bg.jpg) center -44% no-repeat;
		.slick-list {
			margin: 0 -15px 30px;
		}
		h2 {
			margin: 0 0 30px;
			line-height: 1.4;
		}
		&:after {
			display: none;
		}
		&:before {
			left: -15px;
			background: url(../images/cn1.png) center / contain no-repeat;
			content: '';
			width: 150px;
			height: 80px;
			margin: 0;
			top: -50px;
		}
		.slick__year--items strong {
			width: 100%;
			font-size: 18px;
			margin: 0 0 10px;
		}
		.slick__year--items .image {
			margin: 0 0 20px;
		}
		&__next, &__prev {
	    width: 46px;
	    height: 46px;
	    flex: 0 0 46px;
	    font-size: 18px;
		}
		&__count {
			white-space: nowrap;
		}
		&__pag {
			bottom: -30px !important;
		}
	}
	.services {
		padding: 60px 0;
		&:before {
			right: 0;
		}
		h2 {
			text-align: center;
			width: 100%;
		}
		&__title {
			font-size: 18px;
			line-height: 1.2;
			padding: 25px 55px 25px 30px !important;
			&:before {
				font-size: 14px;
				font-weight: 500;
				opacity: .6;
				top: 26px;
				transform: none;
			}
			&:after {
				width: 46px;
				height: 46px;
				margin-top: -23px;
				font-size: 21px !important;
			}
		}
		&__image {
			margin: 0 0 40px 15px;
			width: auto;
			padding: 0;
			height: 190px;
		}
		&__items.active {
			.services {
				&__title {
					&:after {
						background: #ec2538;
						border-color: #ec2538;
						color: #fff;
						padding: 0 0 3px;
					}
				}
			}
		}
		&__body {
			padding-bottom: 40px;
			margin-left: 30px;
			p {
				margin-bottom: 15px;
				margin-left: 0;
				padding-left: 0;
				font-size: 14px;
				font-weight: 500;
			}
		}
	}
	.about {
		padding: 20px 0 60px;
		h2 {
			text-align: center;
			width: 100%;
			margin-bottom: 40px;
		}
		strong {
			font-size: 90px;
			&.stroked {
				& + p {
					margin-bottom: 30px;
				}
			}
			&.stroked:before {
				left: 49%;
			}
		}
	}
	.work {
		padding: 60px 0 80px;
		&__hovered {
			position: static;
			transform: none;
			padding: 0 0 60px;
		}
		&:after {
			content: '' !important;
			left: -15px;
			background: url(../images/cn1.png) center/contain no-repeat;
			width: 150px;
			height: 80px;
			margin: 0;
			top: -50px;
		}
		&:before {
			width: 100px;
			height: 100px;
			background-size: contain !important;
		}
		&__items {
			flex: 0 0 50%;
			height: 150px;
			.text {
				font-size: 14px;
			}
		}
	}
	.personal {
		padding: 60px 0 0;
		background: url(../images/personal-bg.jpg) -390px top/ 580px auto no-repeat;
		.d-flex {
			justify-content: center !important;
		}
		h3 {
			text-align: center;
			margin: 0 0 30px;
			& + .personal__count {
				display: none;
			}
		}
		&__items {
			margin: 0px;
			& > p {
				font-size: 12px;
			}
		}
		&__card {
			width: 80%;
			max-width: 290px;
			margin-left: 50px;
			.image {
				height: 240px;
				background-position: top center !important;
			}
			p {
				line-height: 50px;
				font-size: 15px;
				padding: 0 15px;
			}
		}
		&__prev {
			font-size: 21px;
			margin: 15px 15px 0;
		}
		&__next {
			font-size: 21px;
			margin: 15px 15px 0;
		}
	}
	.advantages {
		padding: 40px 0 60px;
		background: url('../images/advn-bg-xs.png') right center / contain no-repeat;
		&:before {
			display: none;
		} 
		h3 {
			font-size: 24px;
			margin: 0 0 40px;
		}
		&__items {
			strong {
				font-size: 20px;
				line-height: 26px;
			}
			p {
				font-size: 16px;
				line-height: 1.9;
			}
		}
	}
	.history {
		padding: 60px 0 40px 0;
		.slick__history {
			margin-bottom: 20px;
		}
		.title {
			margin-bottom: 30px;
		}
		&:after {
			content: '' !important;
			left: -15px;
			background: url(../images/cn1.png) center/contain no-repeat;
			width: 150px;
			height: 80px;
			margin: 0;
			top: -50px;
		}
		&:before {
			width: 100px;
			height: 100px;
			background-size: contain !important;
		}
		.btn {
			display: none;
		}
	}
	.faq {
		padding: 50px 0;
		&:before {
			right: 0;
		}
		h3 {
			text-align: center;
			margin: 0 0 40px;
		}
		&__title {
			font-size: 18px;
			line-height: 1.2;
			padding: 25px 55px 25px 30px !important;
			&:before {
				font-size: 14px;
				font-weight: 500;
				opacity: .6;
				top: 26px;
				transform: none;
			}
			&:after {
				width: 46px;
				height: 46px;
				margin-top: -23px;
				font-size: 21px !important;
			}
		}
	}
	.blockquote {
		padding-top: 60px;
		.before:before {
			content: '';
			top: -70px;
			width: 25px;
			height: 20px;
			background: url(../images/q.png) center / contain no-repeat;
		}
		p {
			font-size: 16px;
			line-height: 1.6;
		}
		span {
			font-size: 16px;
		}
	}
	.catalog {
		padding: 50px 0;
		h3 {
			margin-bottom: 40px;
		}
		&__items {
			p {
				font-size: 16px;
				font-weight: 500;
				margin: 0 0 10px;
				line-height: 1.6;
			}
			a {
				font-size: 28px;
				background: url(../images/link-out-hover.png) right center/23px auto no-repeat !important; 
				padding-right: 30px;
				color: #ec2538;
				font-weight: 600;
				text-shadow: none;
				text-decoration: underline;
			}
		}
	}
	footer {
		padding: 0;
		h3 {
			font-family: 'Montserrat Alternates';
			color: #fff;
			font-weight: 700;
			line-height: 1;
			margin: 0 0 40px;
		}
		a.c {
			font-size: 14px;
			margin: 0;
			line-height: 1.4;
			display: inline-block;
		}
		.btn {
			margin-top: 40px;
		}
		.dot-popup {
			padding: 20px 20px 25px;
			margin-top: 0;
			margin-bottom: 40px;
			background: #fff url(../images/map-bg.jpg) right -30px no-repeat;
			min-height: 280px;
			strong {
				margin: 40px 0 5px;
				font-size: 14px;
				font-weight: 700;
			}
			p {
				height: 90px;
			}
		}
		.bottom {
			padding: 15px 0;
			margin: 70px 0px 0;
			border-top: 2px solid #778abd;
			text-align: center !important;
			line-height: 2;
			.text-right {
				text-align: center !important;
			}
			p {
				font-size: 12px;
				opacity: 1;
				color: #778abd;
				font-weight: 600;
				text-transform: uppercase;
			}
			a {
				font-size: 12px;
				opacity: 1;
				color: #778abd;
				font-weight: 500;
				text-transform: none;
			}
		}
		.slick__dot {
			margin: 0 -15px;
			.slick-list {
				margin: 0px;
			}
			&--items {
				margin: 0 5px;
			}
		}
	}

	.modal {
		.close {
			font-size: 36px;
			right: 10px;
			top: 0;
		}
		&-body {
			padding: 60px 0;
			text-align: center;
			background: #fff url('../images/fm-bg.jpg') left center / cover no-repeat;
			h3 {
				margin: 0 0 20px;
				font-size: 26px;
			}
			p {
				font-size: 12px;
				margin: 0 0 30px;
			}
			form {
				width: 100%;
				margin: 0 auto;
				input {
					background: none;
					border: none;
					border-bottom: 2px solid #182f6a;
					border-radius: 0;
					font-size: 14px;
					width: 100%;
					margin-bottom: 40px;
					padding-left: 0;
					padding-right: 0;
				}
				textarea {
					width: 100%;
					font-size: 14px;
					padding-left: 0;
					padding-right: 0;
				}
				.btn {
					width: 100%;
				}
			}
		}
	}

	.spoiler {
		height: 252px;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.show-more {
		color: #ec2538 !important;
		font-size: 16px;
		font-weight: 600;
		position: relative;
		padding-left: 50px;
		margin-bottom: 40px;
		display: inline-block;
		&:before {
			content: '+';
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -20px;
			color: #ec2538;
			border: 2px solid #ec2538;
			border-radius: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			font-size: 21px;
			height: 40px;
		}
	}
}