@media(max-width: 768px) {
	header {
		padding: 30px 0;
		a {
			&.logo {
				margin-right: 20px;
			}
			&.menu {
				p {
					display: none;
				}
				span {
					width: 56px;
					height: 56px;
				}
			}
		}
		p {
			font-size: 12px;
		}
	}
	main {
		h2 {
			font-size: 26px;
			line-height: 1.5;
		}
		h3 {
			font-size: 26px;
			line-height: 1.5;
		}
		.text-center {
			text-align: left !important;
		}
	}
	.header {
		padding: 30px 0 50px 0;
		h1 {
			margin-bottom: 25px;
			font-size: 30px;
			line-height: 44px;
			color: #fff;
		}
		a {
			display: none;
			&.request {
				display: inline-block;
				margin-left: 30px;
			}
		}
		.slick__header {
			margin-bottom: 0;

			&--items {
				padding-bottom: 25px;
				padding-left: 30px;

				& > span {
					font-size: 14px;
					margin-bottom: 20px;
				}
				& > p {
					font-size: 14px;
					max-width: 670px;
				}
			}
		}
	}

	.project {
		.nav {
			display: none;
		}
		.tab-pane {
			.project__pag {
				margin-top: 0;
				align-items: center;
				justify-content: center;
				display: flex!important;
				bottom: -40px;
				top: initial;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.tab-content {
			margin-top: 30px;
		}
		&__pag {
			display: none;
		}
		.text-right {
			text-align: left !important;
		}
		select {
			width: 100%;
			margin-top: 50px;
			height: 50px;
			border: none;
			color: #182f6a;
			font-size: 16px;
			font-weight: 400;
			border-bottom: 2px solid #182f6a;
			border-top: 2px solid #182f6a;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url('../images/select.png') right center no-repeat;
		}
		.slick__year {
			margin-bottom: 60px;
		}
	}

	.about {
		padding-top: 0;
		.d-flex {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
		strong {
			width: 100%;
			font-size: 110px;
			text-align: center;
			margin: 30px 0 0;
			padding: 0;
			line-height: 1.2;
			& + p {
				width: 100%;
				text-align: center;
				margin-bottom: 50px;
				br {
					display: none;
				}
			}
		}
	}

	.services {
		&__items {
			&.active {
				background: #fff;
				margin-bottom: 30px;
			}
		}
		&__title {
			padding-left: 60px;
		}
		&__scroll {
			height: auto;
			overflow: hidden;
		}
		&__image {
			padding-left: 15px;
			height: 380px;
			width: 100%;
			margin: 0 auto 40.1px;
			box-shadow: 0px 30px 90px -30px #0b1e50;

		}
	}

	.personal {
		background: url(../images/personal-bg.jpg) -300px center/contain no-repeat;
		&__card {
			width: 240px;
			.image {
				height: 280px;
			}
		}
	}

	.work {
		padding: 50px 0;
		&__title {
			margin-bottom: 50px;
			p {
				margin-bottom: 20px;
				background-size: 34px auto;
				padding-top: 50px;
			}
			span {
				margin-bottom: 20px;
			}
		}
	}

	.catalog__items a {
		font-size: 42px;
		background-size: 31px auto !important;
		    padding-right: 40px;
	}
	footer {
		.bottom {
			p,a {
				font-size: 10px;
				margin: 0;
			}
		}
	}
}