@media(max-width: 991px) {
	header {
		padding: 30px 0;
		a {
			&.logo {
				margin-right: 20px;
			}
			&.menu.sticky {
				right: 15px;
			}
		}
		p {
			font-size: 12px;
		}
	}
	main {
		h2 {
			font-size: 34px;
		}
		h3 {
			font-size: 34px;
		}
	}

	.header {
		padding: 30px 0 50px 0;
		h1 {
			margin-bottom: 25px;
			font-size: 40px;
			line-height: 54px;
			color: #fff;
		}
		a {
			display: none;
			&.request {
				display: inline-block;
				margin-left: 30px;
			}
		}
		.slick__header {
			margin-bottom: 0;

			&--items {
				padding-bottom: 40px;
				padding-left: 30px;

				& > span {
					font-size: 12px;
					margin-bottom: 15px;
				}
				& > p {
					font-size: 16px;
					max-width: 670px;
				}
			}
		}
	}

	.project {
		padding: 140px 0 100px;
		background: #fff url(../images/pj-bg.jpg) center -31% no-repeat;
		p {
			font-size: 14px;
			line-height: 28px;
		}
		&-ntext {
			max-width: 100%;
		}
		.tab-content {
			margin-top: 50px;
		}
		.nav {
			margin-top: 60px;
			justify-content: flex-start;
			padding: 0 30px;
			&-link {
				font-size: 18px;
				line-height: 70px;
			}
		}
		.slick {
			&-list {
				margin: 0 -20px;
			}
			&__year {
				&--items {
					margin: 0 20px;
					strong {
						font-size: 21px;
					}
				}
			}
		}
		.od-1 {
			order: 1;
		}
		.od-2 {
			order: 2;
		}
	}

	.services {
		padding: 100px 0 80px;
		h2 {
			margin-bottom: 50px;
		}
		&__title {
			font-size: 21px;
			line-height: 1.4;
			padding: 50px 0;
			padding-left: 100px;
		}
		&__scroll {
			height: 200px;
			overflow: hidden;
		}
		&__image {
			height: 300px;
			width: 90%;
			margin: 0 15px;
			margin-bottom: 30px;
			box-shadow: 0px 30px 90px -30px #0b1e50;

		}
		&__body {
			padding-bottom: 160px;
			display: none;
			p {
				font-size: 16px;
				line-height: 2;
				color: #0f2c61;
				font-weight: 500;
			}
		}
	}

	.about {
		h2 {
			margin-bottom: 60px;
		}
		p {
			font-size: 15px;
			line-height: 32px;
			margin-bottom: 20px;
		}
		strong {
			font-size: 78px;
			margin: 40px 0;
			padding-right: 25px;
			& + p {
				font-size: 18px;
			}
		}
	} 

	.work {
		&__items {
			flex: 0 0 50%;
		}
	}

	.personal {
		background: url(../images/personal-bg.jpg) -180px center/contain no-repeat;
		padding: 120px 0 80px;
		h3 {
			margin: 0 0 70px;
		}
		&__card {
			width: 260px;
			.image {
				height: 300px;
			}
		}
		&__count {
			font-size: 18px;
			line-height: 44px;
		}
		&__items {
			& > p {
				font-size: 16px;
				top: 135px;
			}
		}
	}

	.advantages {
		padding: 90px 0;
		background: none;
		counter-reset: x;
		h3 {
			margin-bottom: 80px;
		}
		&__items {
			margin-bottom: 40px;
			strong {
				font-size: 20px;
				font-weight: 500;
				line-height: 52px;
				display: inline-block;
				margin: 0 0 20px;
				padding-left: 65px;
				position: relative;
				color: #fff;
				&:before {
					content: counter(x);
					counter-increment: x;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 46px;
					height: 46px;
					position: absolute;
					background: #fff;
					color: #ec2538;
					font-family: 'Montserrat Alternates';
					font-size: 20px;
					font-weight: 700;
					border-radius: 70px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					box-shadow: 0px 0px 0px 6px rgba(255,255,255,.5);
				}
			}
			p {
				font-size: 15px;
				line-height: 1.6;
				margin: 0 0 0;
				color: #fff;
				opacity: .7;
			}
		}
	}

	.history {
		padding: 90px 0 50px;
		background: #fff;
		.pl-5 {
			padding-left: 15px !important;
		}
		.title {
			margin-bottom: 65px;
		}
		&__items {
			&--video {
				padding-right: 0;
				margin-bottom: 20px;
			}
			&--text {
				padding-right: 0;
			}
			span {
				margin: 0 0 20px;
				font-size: 14px;
			}
			p {
				font-size: 16px;
				line-height: 1.6;
			}
			a {
				font-size: 15px;
			}
		}
		&__dots {
			position: relative;
			z-index: 8;
			ul {
				text-align: center;
			}
		}
	}

	.faq {
		padding: 80px 0;
		h3 {
			margin-bottom: 60px;
		}
		&__title {
			font-size: 21px;
			line-height: 1.4;
			padding: 40px 0;
			padding-left: 100px;
		}
		&__body {
			padding-bottom: 30px;
			display: none;
			p {
				font-size: 14px;
				margin: 0 0 40px;
			}
		}
	}

	.blockquote {
		padding: 90px 0 50px;
		.before:before {
			top: -100px;
		}
		p {
			font-size: 14px;
		}
		span {
			font-size: 13px;
		}
	}

	.catalog {
		padding: 90px 0 70px;
		h3 {
			margin-bottom: 70px;
		}
		&__items {
			margin-bottom: 50px;
			a {
				font-size: 72px;
			}
		}
	}

	footer {
		padding-top: 0px;
		.map {
			display: none;
		}
		.dot-popup {
			margin-top: 60px;
			padding: 50px 30px 30px;
			p {
				height: 60px;
			}
			strong {
				margin-top: 0;
				font-size: 14px;
			}
		}
		.bottom {
			p,a {
				font-size: 14px;
			}
		}
		.slick__dot {
			.slick-list {
				// margin: 0 -15px;
			}
			&--items {
				margin: 0 15px;
			}
		}
	}

	nav {
		padding: 80px 0;
		overflow: auto;
		max-height: 100vh;
		.close {
			top: 15px;
			right: 15px;
		}
		ul {
			li {
				margin-bottom: 30px;
			}
			a {
				font-size: 16px;
				font-weight: 500;
			}
		}
		.phone {
			margin-bottom: 20px;
			margin-top: 30px;
			font-size: 21px;
		}
		.mail {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	.top_btn {
		width: 42px;
		height: 42px;
		right: 15px;
		bottom: 15px;
		font-size: 21px;
	}
}