@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic');

* {
	box-sizing: border-box;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: 'Montserrat';
	font-weight: 400;
	outline: none !important;
}

img {
	max-width: 100%;
  display: inline-block;
}

.btn {
	&-primary {
		background: #ec2538;
		color: #fff;
		line-height: 58px;
		padding: 0 36px;
		border: none;
		border-radius: 0;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		&:hover {
			background: #ff3548;
		}
		&:active {
			background: #ff3548 !important;
		}
		&:focus {
			background: #ff3548 !important;
		}
	}
}

.top_btn {
	position: fixed;
	bottom: 15px;
	right: 40px;
	width: 72px;
	height: 72px;
	border-radius: 72px;
	display: none;
	align-items: center;
	justify-content: center;
	background: #e22;
	z-index: 99;
	color: #fff !important;
	font-size: 24px;
	text-decoration: none !important;
}
.top_btn.show {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

@import 'style.scss';
@import 'site.scss';
@import 'media.scss';