.header__inner {
    padding: 25px;

    .logo {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {}

        p {
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            margin: 0 0 0 20px;
        }
    }

    ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        li {
            margin: 0 20px;
        }

        a {
            white-space: nowrap;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;

            &:hover {
                color: #FB1A43;
                text-decoration: none;
            }
        }
    }

    .phone {
        font-size: 20px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .menu {
        span {
            &:before {
                content: '';
            }

            &:after {
                content: '';
            }
        }

        &:hover {
            span {}
        }
    }

    &-main {
        padding: 60px 40px 120px;

        .slick-dots-header {
            left: 40px;
        }

        .btn {
            margin: 0;

            &-primary {
                background: #ec2538;
                color: #fff;
                line-height: 58px;
                padding: 0 36px;
                border: none;
                border-radius: 0;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                opacity: 1;

                &:hover {
                    background: #ff3548;
                }

                &:active {
                    background: #ff3548 !important;
                }

                &:focus {
                    background: #ff3548 !important;
                }
            }
        }
    }
}

.header-page {
    padding: 0px 0 90px;

    h1 {
        margin-top: 140px;
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 86px;
        color: #FFFFFF;
    }
}

.box {
    padding: 60px 0;

    &.faq {
        &:before {
            display: none;
        }
    }

    .faq__wrapper {
        max-width: 100%;
        margin-top: 40px;
    }

    &.text {
        padding: 60px 0 160px;

        h2 {
            margin: 0 0 40px;
        }

        p {
            font-style: normal;
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 32px !important;
            color: #FFFFFF !important;
            opacity: 0.8;
        }

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #FFFFFF;
            opacity: 0.8;

            &:hover {
                text-decoration: none;

                span {
                    border-bottom-color: transparent;
                }
            }

            span {
                border-bottom: 2px dashed currentColor;
            }
        }
    }

    &.contacts {
        min-height: 780px;
        padding: 0;
        background: #19306b;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    .dot-popup {
        padding: 10px 50px 40px;
        background: #fff url('../images/map-bg.jpg') top right no-repeat;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100% !important;

        strong {
            color: #19306b;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.4;
            display: inline-block;
            margin-bottom: 15px;
            text-transform: uppercase;
            margin-top: 50px;
        }

        p {
            color: #19306b;
            margin-bottom: 10px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.4;
            display: inline-block;
            width: 100%;
            opacity: 1;
        }

        a {
            display: inline-block;
            color: #19306b;
            font-weight: 600;
            white-space: nowrap;

            &.phone {
                font-size: 18px;
                line-height: 1;
                margin-bottom: 10px;
            }

            &.mail {
                font-size: 12px;
                line-height: 1.4;
            }

            &:hover {
                text-decoration: none;
                color: #ec2538;
            }
        }
    }

    .map {
        position: absolute;
        left: 33%;
        right: 0px;
        bottom: -80px;
        height: 820px;
        background: url('../images/map.png') right center / contain no-repeat;
        z-index: 6;
        min-width: 1210px;

        .dot {
            position: absolute;

            .image {
                width: 44px;
                height: 33px;
                background: url('../images/adress2.svg') center no-repeat;
                margin-right: 10px;
                cursor: pointer;
            }

            p {
                font-size: 14px;
                color: #778abd !important;
                font-weight: 500;
                margin: 0;
                opacity: 1;
                cursor: pointer;
            }

            &.active {
                .dot-popup {
                    display: flex;
                }

                p {
                    opacity: 1;
                    color: #fff;
                }

                .image {
                    background: url('../images/adress1.svg') center no-repeat;
                }
            }

            &-popup {
                padding: 60px 50px;
                background: #fff url('../images/map-bg.jpg') top right no-repeat;
                width: 420px !important;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                position: absolute;
                display: none;
                left: -460px;
                bottom: -75px;
                z-index: 5;

                &:after {
                    content: url('../images/cn2.png');
                    position: absolute;
                    bottom: 40px;
                    right: -27px;
                }

                strong {
                    color: #19306b;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.4;
                    display: inline-block;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    margin-top: 0 !important;
                }

                p {
                    color: #19306b;
                    margin-bottom: 30px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.4;
                    display: inline-block;
                    opacity: 1;
                }

                a {
                    display: inline-block;
                    color: #19306b;
                    font-weight: 600;

                    &.phone {
                        font-size: 30px;
                        line-height: 1;
                        margin-bottom: 15px;
                    }

                    &.mail {
                        font-size: 14px;
                        line-height: 1.4;
                    }

                    &:hover {
                        text-decoration: none;
                        color: #ec2538;
                    }
                }
            }

            &.k {
                .dot-popup {
                    left: initial;
                    right: -460px;

                    &:after {
                        content: url('../images/cn2.png');
                        position: absolute;
                        bottom: 40px;
                        left: -27px;
                        right: initial;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    a.c {
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 171.3%;
        color: #FFFFFF;
    }

    form {
        margin-top: 80px;
        width: 100%;

        .form-group {
            max-width: 410px;
            width: 100%;
            margin-bottom: 30px;

            input {
                width: 100%;
                background: none;
                border: none;
                border-bottom: 2px solid rgba(255, 255, 255, .4);
                border-radius: 0;
                height: 42px;
                line-height: 42;
                color: #fff;
                padding: 0;

                &:placeholder {
                    color: rgba(255, 2552, 255, .4);
                }

                &:-webkit-placeholder {
                    color: rgba(255, 2552, 255, .4);
                }

                &:active {
                    border-bottom-color: #fff;
                }

                &:focus {
                    border-bottom-color: #fff;
                }
            }
        }

        .btn {
            margin-bottom: 20px;
            margin-top: 40px;
        }

        p {
            font-family: Montserrat;
            font-style: normal !important;
            font-weight: 500;
            font-size: 13px !important;
            line-height: 19px !important;
            letter-spacing: 0.03em;
            color: #FFFFFF !important;
            opacity: 0.5 !important;
        }
    }

    h2 {
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        color: #FFFFFF;
        margin: 0 0 60px;
    }

    h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 160%;
        color: #FFFFFF;
        margin: 0 0 15px;

        &+p {
            font-size: 13px !important;
            line-height: 1.7 !important;
        }
    }

    h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;
        margin: 0 0 40px;
    }

    p:not([class]) {
        font-style: normal;
        font-size: 16px;
        line-height: 36px;
        color: #FFFFFF;
        opacity: 0.8;
        margin: 0 0 60px;
    }

    .cert__items {
        display: inline-block;
        width: 100%;
        height: 400px;
        margin: 0 0 30px;
        position: relative;

        &:before {
            content: '';
            border: 34px solid transparent;
            border-bottom: 34px solid #284384;
            position: absolute;
            transform: rotate(225deg);
            right: 13px;
            top: 13px;
        }

        &:after {
            content: '';
            border: 34px solid transparent;
            border-bottom: 34px solid #19306b;
            position: absolute;
            transform: rotate(45deg);
            right: -34px;
            top: -34px;
        }

        &:hover {
        	&:before  {
        		border-bottom-color: #FB1A43;
        	}
        }
    }

    .personal {
        padding: 160px 0 0px;
        background: url('../images/personal-bg.jpg') left center / contain no-repeat;

        &__items {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;

            &>p {
                font-size: 20px;
                font-weight: 600;
                color: #fff;
                transform: rotate(-90deg);
                transform-origin: 0px -15px;
                margin: 0 0 0px;
                opacity: 1;
                position: absolute;
                bottom: 5px;
                top: inherit;
            }
        }

        &__card {
            width: 100%;
            max-width: 370px;
            margin-left: 55px;

            .image {
                width: 100%;
                height: 410px;
            }

            p {
                line-height: 80px;
                padding: 0 25px;
                background: #fff;
                color: #19306b;
                font-size: 20px;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 1;
            }
        }

        &__prev {
            display: inline-block;
            margin-top: 20px;
            color: #fff;
            width: 30px;
            height: 30px;
            font-size: 0px !important;
            background: url('../images/arrow-prev.svg') center / 14px auto no-repeat;

            &:hover {
                cursor: pointer;
                background: url('../images/arrow-prev-red.svg') center / 14px auto no-repeat;
            }
        }

        &__next {
            display: inline-block;
            margin-left: 30px;
            margin-top: 20px;
            color: #fff;
            font-size: 0 !important;
            width: 30px;
            height: 30px;
            background: url('../images/arrow-next.svg') center / 14px auto no-repeat;

            &:hover {
                cursor: pointer;
                background: url('../images/arrow-next-red.svg') center / 14px auto no-repeat;
            }
        }
    }
}

.fancybox-button.fancybox-button--thumbs {
	display: inline-block !important;
}

.services {
    &__item {
        padding: 40px 50px;
        display: inline-block;
        width: 100%;
        margin: 0 0 30px;
        background: #fff;
        position: relative;

        span {
            display: inline-block;
            width: 100%;
            margin: 0 0 10px;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #FB1A43;
            position: relative;
            z-index: 9;
        }

        strong {
            display: inline-block;
            width: 90%;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 160%;
            color: #19306B;
            height: 190px;
            overflow: hidden;
            margin: 0 0 10px;
            position: relative;
            z-index: 9;
            margin-bottom: 80px;
        }

        p {
            font-style: normal !important;
            font-weight: 500;
            font-size: 13px !important;
            line-height: 24px !important;
            letter-spacing: 0.03em;
            color: #19306B !important;
            margin: 0;
            padding-right: 20%;
            background: url('../images/site/arrow-left.svg') right center no-repeat;
            position: relative;
            z-index: 9;
            position: absolute;
            bottom: 40px;
            left: 50px;
            right: 50px;
            margin: 0 !important;
        }

        .hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 7;
            display: none;
        }

        &:hover {
            text-decoration: none;

            span,
            p,
            strong {
                color: #fff !important;
            }

            p {
                filter: brightness(100);
            }

            .hover {
                display: inline-block;
            }
        }
    }
}

.catalog {
    &__item {
        height: 340px;
        margin: 0 0 30px;
        display: inline-block;
        width: 100%;
        transition: none;
        &:hover {
        	outline: 6px solid #FB1A43 !important;
        	outline-offset: -6px
        } 
    }
}

.title-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 140px;

    h1 {
        margin: 0;
    }

    .btn {
        background: #fff;
        color: #FB1A43;

        &:hover {
            background: #FB1A43;
            color: #fff;
        }
    }
}

.footer__inner {
    background: #0A2057;
    position: relative;
    z-index: 99;

    .logo {
        display: inline-block;
        margin: 0 0 25px;

        &+p {
            ont-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 0 10px;
        }

        a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 36px;
            color: #FFFFFF;

            &:hover {
                text-decoration: none;
                color: #FB1A43;
            }
        }
    }

    .contacts__link {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;

        &:hover {
            text-decoration: none;
            color: #FB1A43;
        }
    }

    .btn {
        margin-top: 60px;
        border: 2px solid #FB1A43;
        line-height: 58px;
        background-color: transparent;
        border-radius: 0;
        padding: 0 40px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;

        &:hover {
            background: #FB1A43;
        }
    }

    .insta {
        display: inline-block;
        margin-bottom: 10px;

        &+p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }

    .bottom {
        border-top: 2px solid #2C4179;
        margin-top: 90px;

        p {}

        a {}
    }
}

.footer__link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 120px;

    a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 33.33333333%;
        height: 295px;
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        color: #FFFFFF;
        background: #19306B;
        border-top: 2px solid #2C4179;
        border-right: 2px solid #2C4179;
        text-decoration: none !important;
        transition: none;

        &.bg1 {
            background: #19306B url('../images/site/fl1.svg') center no-repeat;
        }

        &.bg2 {
            background: #19306B url('../images/site/fl2.svg') top center no-repeat;
        }

        &.bg3 {
            background: #19306B url('../images/site/fl3.svg') center no-repeat;
        }

        &.bg4 {
            background: #19306B url('../images/site/fl4.svg') center no-repeat;
        }

        &:last-of-type {
            border-right: none;
        }

        span {
            background: url('../images/arrow-next.svg') right center / 20px no-repeat;
            padding-right: 40px;
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
            color: currentColor;
        }

        &:hover {
            color: #FB1A43;

            span {
                background: url('../images/arrow-next-red.svg') right center / 20px no-repeat;
            }
        }
    }
}

.tag {
    margin: 40px 0;

    ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;

        li {
            margin-right: 20px;

            a {
                font-size: 16px;
                line-height: 40px;
                padding: 0 20px;
                background: #2C4179;
                border-radius: 40px;
                display: inline-block;
                color: #FFFFFF;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                &:hover {
                    background: #FB1A43;
                    text-decoration: none;
                }
                &.active {
                    background: #FB1A43;
                }

                em {
                    font-size: .5em;
                    margin-right: 9px;
                }
            }
        }
    }
}

.pagination {
    text-align: center;
    justify-content: center;
    margin-top: 30px;

    li {}

    a {
        width: 68px;
        height: 68px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;

        &.active {
            border: 2px solid #FB1A43;
            border-radius: 68px;
        }

        &:hover {
            color: #FB1A43;
            text-decoration: none;
        }

        &.prev {
            background: url('../images/site/prev.svg') center no-repeat;
            &:hover {
            	background: url('../images/site/prev-red.svg') center no-repeat;
            }
        }

        &.next {
            background: url('../images/site/next.svg') center no-repeat;
            &:hover {
            	background: url('../images/site/next-red.svg') center no-repeat;
            }
        }
    }

    span {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 67px;
        height: 67px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.6;
    }
}

.blog__item {
    margin-bottom: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    text-decoration: none !important;

    .text {
        padding: 30px;
        background: #fff;
        width: 100%;

        p {
            margin: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #19306B;
            height: 52px;
            overflow: hidden;
        }

        .d-flex {
            margin-bottom: 15px;
            align-items: center;
            justify-content: flex-start;

            span {
                font-weight: 500;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: #19306B;
                opacity: 0.6;
                margin-right: 10px;
            }

            .text-large {
                font-size: 2em;
                margin: 0 10px 3px 0;
            }
        }
    }
    &:hover {
    	.text {
        background: #FB1A43 !important;
    		p, span {
    			color: #fff;
    			opacity: 1;
    		}
    	}
    }

    .image {
        display: inline-block;
        width: 100%;
        height: 275px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        position: relative;
        margin: 0;

        span {
            position: absolute;
            top: 20px;
            left: 20px;
            font-weight: 500;
            font-size: 13px;
            line-height: 28px;
            border-radius: 24px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            background: #FB1A43;
            padding: 0 10px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;

            em {
                font-size: 0.6em;
                margin-right: 7px;
            }
        }
    }

    &--xl {
        .image {
            height: 500px;
        }
    }

    &--project {
    	&:hover {
    		.text {
   				background: #fff !important;
    		}
    	}
        .image {
            height: 310px;
            cursor: url('../images/site/cursor.png'), pointer;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #ec2538;
                z-index: 8;
                mix-blend-mode: multiply;
                display: none;
            }
        }

        .text {
            p {
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                color: #19306B !important;
                opacity: 1 !important;
                margin-bottom: 6px;
            }

            span {
                font-size: 16px;
                line-height: 32px;
                color: #19306B !important;
                opacity: 1 !important;
                opacity: 0.6;
            }
        }

        &:hover {
            .image:before {
                display: inline-block;
            }

            .text {
                p {
                    color: #FB1A43;
                }
            }
        }
    }

    &--about {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url('../images/site/about-bg.png') center / cover no-repeat;
            z-index: 9;
        }
        .image{
            span {
                background: #E90C34;
                z-index: 12;
                width: auto;
            }
        }
        .text {
            position: relative;
            z-index: 11;
            background: none;
            text-align: center;
            .d-flex {
                justify-content: center;
            }
            span {
                opacity: .6;
                color: #fff !important;
            }
            p {
                color: #fff;
                opacity: 1;
            }
        }
    }
    &--video {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url('../images/site/video-bg.png') center / cover no-repeat;
            z-index: 9;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 9;
            background: url(../images/site/play.png) center no-repeat;
            width: 80px;
            height: 80px;
            left: 50%;
            margin: 0 0 0 -40px;
            top: 130px;
        }
        .image{
            span {
                background: #E90C34;
                z-index: 12;
                width: auto;
            }
        }
        .text {
            position: relative;
            z-index: 11;
            background: none;
            text-align: center;
            .d-flex {
                justify-content: center;
            }
            span {
                opacity: .6;
                color: #fff !important;
            }
            p {
                color: #fff;
                opacity: 1;
            }
        }
    }
}

.manager__block {
    h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 0 0 10px;
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 26px;
        margin: 0 0 30px;
        color: #FFFFFF;
        opacity: 0.5;
    }
}

ul.top {
    border-bottom: 2px solid #2C4179;

    li {
        border-top: 2px solid #2C4179;

        a {
            padding: 20px 0;
            font-size: 13px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            display: inline-block;
            width: 100%;
            padding-right: 30px;
            background: url('../images/site/next.svg') right center no-repeat;

            &:hover {
                color: #FB1A43;
		            background: url('../images/site/next-red.svg') right center no-repeat;
                text-decoration: none;
            }
        }
    }
}

.pr__items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 60px;

    .image {
        width: 60px;
        height: 60px;
        margin-right: 30px;
        flex: 0 0 60px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        strong {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 160%;
            color: #FFFFFF;
            display: inline-block;
            margin: 0 0 20px;
        }

        p {
            font-size: 13px;
            line-height: 26px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            opacity: 0.8;
            margin: 0;
        }
    }
}

.form__consultation.box {
    background: #fff;
    padding: 90px 0 120px;
    width: calc(100% - 40px);
    margin: 0 20px 120px;

    h2 {
        color: #19306B;
        margin: 0 0 80px;
    }

    form {
        margin-top: 0;

        p {
            font-size: 13px !important;
            line-height: 19px !important;
            letter-spacing: 0.03em;
            color: #19306B !important;
            margin: 0;
        }

        .btn {
            margin-top: 0;
            width: 100%;
            text-align: center;
        }

        .form {
            &-group {
                max-width: 100%;
            }

            &-control {
                border-bottom-color: #19306B !important;
                color: #000;
                height: 58px;
                line-height: 58px;
            }
        }
    }
}

.advantages__inner {
    padding-top: 60px;
    width: calc(100% - 80px);
    margin: 0 40px;
    .nav {
        margin-top: 80px;
    }
}

.personal__inner {
    width: calc(100% - 40px);
    margin: 0 20px;
}

.project-slider {
    margin-bottom: 60px;

    .slick-list {
        margin: 0 -15px;
    }

    .blog__item {
        margin: 0 15px;
    }
}

.blog-slider {
    margin-bottom: 60px;

    .slick-list {
        margin: 0 -15px;
    }

    .blog__item {
        margin: 0 15px;
    }
}

.blog-pagination {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px;

    .prev {
        cursor: pointer;
        width: 66px;
        height: 66px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border: 2px solid #19306B;
        border-radius: 66px;
        &:hover {
        	border-color: #FB1A43;
        }
        img {
            width: 8px;
            margin: 0;
        }
    }

    .next {
        cursor: pointer;
        width: 66px;
        height: 66px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex !important;
        align-items: center;
        justify-content: center;
        border: 2px solid #19306B;
        border-radius: 66px;
        &:hover {
        	border-color: #FB1A43;
        }
        img {
            width: 8px;
            margin: 0;
        }
    }

    .count {
        font-weight: 600;
        font-size: 20px;
        line-height: 180%;
        color: #19306B;
        margin: 0 30px;
    }
}

.slick__header-pagination {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;

    .prev {
        cursor: pointer;
        width: 66px;
        height: 66px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 66px;
        &:hover {
        	border-color: #FB1A43;
        }

        img {
            width: 14px;
        }
    }

    .next {
        cursor: pointer;
        width: 66px;
        height: 66px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 66px;
        margin-left: 30px;
        &:hover {
        	border-color: #FB1A43;
        }

        img {
            width: 14px;
        }
    }
}

.project-pagination {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px;

    .prev {
        cursor: pointer;
        width: 66px;
        height: 66px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 66px;
        &:hover {
        	border-color: #FB1A43;
        }

        img {
            width: 8px;
        }
    }

    .next {
        cursor: pointer;
        width: 66px;
        height: 66px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 66px;
        &:hover {
        	border-color: #FB1A43;
        }

        img {
            width: 8px;
        }
    }

    .count {
        font-weight: 600;
        font-size: 20px;
        line-height: 180%;
        color: #FFFFFF;
        margin: 0 30px;
    }
}

a.all {
    display: inline-block;
    margin: 0 0 60px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    background: url('../images/arrow-next.svg') right center / 6px no-repeat;
    padding-right: 15px;

    &:hover {
        text-decoration: none;
        color: #FB1A43;
    }
}

.white-box {
    margin: 0 20px 60px;
    display: inline-block;
    width: calc(100% - 40px);
    padding: 100px 15px 100px;
    background: #fff;

    .services__item {
        background: #f5f5f5;
    }

    .back {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #19306B;
        background: url('../images/site/back.svg') left center no-repeat;
        padding-left: 17px;

        &:hover {
            text-decoration: none;
            color: #FB1A43;
        }
    }

    .title {
        margin: 30px 0 60px;

        h1 {
            font-family: Montserrat Alternates;
            font-style: normal;
            font-weight: bold;
            font-size: 54px;
            line-height: 66px;
            color: #19306B;
            width: 65%;
        }

        .btn {
            white-space: nowrap;
            margin-left: 40px;
        }

        ul {
            list-style: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 30px 0 0;

            li {
                margin-left: 30px;

                a {
                    font-size: 16px;
                    line-height: 32px;
                    color: #19306B;

                    &:hover {
                        text-decoration: none;
                        color: #FB1A43;
                    }

                    em {
                        margin-right: 10px;
                    }
                }

                .fa-vk {
                    color: #4D7399;
                }

                .fa-facebook-f {
                    color: #3B5B97;
                }

                .fa-twitter {
                    color: #27B1E7;
                }
            }
        }
    }

    img {
        width: 100%;
        margin: 0 0 60px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #19306B;
        margin: 0 0 40px;

        b {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 160%;
            color: #19306B;
        }
    }

    blockquote {
        text-align: center;
        margin: 15px 0 70px;
        display: inline-block;
        width: 100%;
        padding-top: 90px;
        background: url('../images/site/quote.svg') top center no-repeat;

        p {
            font-size: 20px;
            line-height: 36px;
            text-transform: uppercase;
            color: #19306B;
            margin: 0 0 10px;
        }

        span {
            font-size: 16px;
            line-height: 32px;
            color: #19306B;
            opacity: 0.6;
        }
    }

    .video {
        background: url('../images/site/yt.png') left top no-repeat;
        padding-left: 95px;
        display: inline-block;

        &:hover {
            text-decoration: none;

            p {
                color: #FB1A43;
            }
        }

        span {
            display: inline-block;
            font-weight: 500;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #19306B;
            opacity: 0.6;
            margin: 0 0 8px;
            width: 100%;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #19306B;
        }
    }

    .tag {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 30px 0 0;

        p,
        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            margin: 0;
            line-height: 36px;
            padding: 0 16px;
            background: #FB1A43;
            border-radius: 40px;
            color: #FFFFFF;
            &:hover {
            	text-decoration: none;
            	background: #19306B;
            }
        }

        span {
            font-size: 16px;
            line-height: 32px;
            color: #19306B;
            opacity: 0.6;
            display: inline-block;
            margin-left: 15px;
        }
    }

    .social {
        border-top: 2px solid #19306B;
        ;
        margin-top: 30px;
        display: inline-block;
        width: 100%;

        ul {
            list-style: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            margin: 30px 0 0;

            li {
                margin-right: 30px;

                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                    color: #19306B;

                    &:hover {
                        text-decoration: none;
                        color: #FB1A43;
                    }

                    em {
                        margin-right: 10px;
                    }
                }

                .fa-vk {
                    color: #4D7399;
                }

                .fa-facebook-f {
                    color: #3B5B97;
                }

                .fa-twitter {
                    color: #27B1E7;
                }
            }
        }
    }

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #19306B;
        margin: 0 0 30px;
    }

    h2 {
        color: #19306B;
        margin: 0 0 60px;
    }

    .all {
        color: #19306B;
        background: url('../images/arrow-next-blue.svg') right center / 6px no-repeat;
    }

    .blog__item {
        .text {
            background: #f5f5f5;
        }
    }

    .top {
        border-color: #dde;
        margin: 0 0 60px;

        li {
            border-color: #dde;

            a {
                font-size: 13px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #19306B;
                background: url(../images/site/arrow-left.svg) right center / 21px no-repeat;
            }
        }
    }

    form {

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .form-group {
            flex: 0 1 100%;
            margin-right: 20px;
        }

        .form-control {
            min-height: 60px;
            font-size: 16px;
            background: none !important;
            border: none;
            padding: 0;
            border-bottom: 2px solid #182f6a;
            border-radius: 0;
            margin-bottom: 10px;
            outline: none !important;
            box-shadow: none !important;
        }

        p {
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #19306B;
            opacity: 0.6;
        }
    }
}

.work-steps__item {
    padding: 20px 20px 40px 40px;
    border: 2px solid #fff;
    min-height: 400px;
    position: relative;

    span {
        display: inline-block;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #FB1A43;
        text-align: right;
    }

    strong {
        display: inline-block;
        height: 78px;
        overflow: hidden;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        color: #FFFFFF;
        width: 90%;
    }

    p {
        width: 80%;
        font-size: 13px !important;
        line-height: 24px !important;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        opacity: 0.8;
        position: absolute;
        bottom: 30px;
        left: 40px;
        margin: 0 !important;
    }

    &:hover {
        background: #fff;

        strong,
        p {
            color: #19306B !important;
        }
    }
}

main {
    .col-m {
        margin-bottom: 90px;
    }

    .box .history {
        &__item {
            padding: 60px;
            background: #fff;
            position: relative;
            height: 100%;

            &:before {
                content: '';
                border: 40px solid transparent;
                border-left-color: #fff;
                position: absolute;
                bottom: -40px;
                right: 40px;
            }
        }

        &__title {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 25px;

            p {
                font-weight: 600;
                font-size: 24px !important;
                line-height: 130% !important;
                color: #19306B !important;
                margin: 0 !important;
            }

            .image {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 145px;
                height: 66px;
                background: #e8e8e8;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__text {
            margin: 0 0 40px;

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                color: #19306B;
                margin: 0;
                opacity: 1;
            }
        }

        &__footer {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .thumbs {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: stretch;
                justify-content: flex-start;

                .image {
                    display: inline-block;
                    width: 120px;
                    height: 90px;
                    margin-right: 15px;
                    position: relative;
                    &:hover {
                    	&:before {
                    		content: '';
                    		position: absolute;
                    		top: 0;
                    		left: 0;
                    		width: 100%;
                    		height: 100%;
                    		background: rgba(0,0,0,0.3) url('../images/site/loop.svg') center no-repeat;
                    	}
                    }
                }

                .more {
                    width: 90px;
                    height: 90px;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px dashed #19306B;
                    font-size: 20px;
                    line-height: 36px;
                    color: #19306B;
                    &:hover {
                    	border-color: #FB1A43;
                    	color: #FB1A43;
                    	text-decoration: none;
                    }
                }
            }

            .date {
                flex: 0 1 100%;
                text-align: right;

                p {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 19px;
                    margin: 0;
                    text-align: right;
                    letter-spacing: 0.03em;
                    color: #19306B;
                    opacity: 0.6;
                }
            }
        }
    }
}

.history {
    &-main {
        margin: 0 20px 120px;
        padding: 120px 0;
        width: calc(100% - 40px);
        background: #fff url(../images/site/ab-slider.svg) top center / cover no-repeat;
        position: relative;
        .row {
            position: relative;
        }
        h2 {
            font-family: Montserrat Alternates;
            font-style: normal;
            font-weight: bold;
            font-size: 54px;
            line-height: 66px;
            color: #19306B;
            margin: 0 0 25px;

            &+p {
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                color: #19306B;
            }
        }
        .dots {
            position: absolute;
            top: 235px;
            left: 0;
            right: 0;
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            z-index: 88;
            a {
                font-weight: 600;
                font-size: 24px;
                line-height: 160%;
                color: #19306B;
                position: relative;
                transition: none  !important;
                &:before {
                    content: '';
                    border: 4px solid #fff;
                    background: #19306B;
                    width: 17px;
                    height: 17px;
                    border-radius: 40px;
                    position: absolute;
                }
                &[data-id="0"] {
                    top: 220px;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="1"] {
                    top: 208px;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="2"] {
                    top: 193px;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="3"] {
                    top: 174px;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="4"] {
                    top: 150px;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="5"] {
                    top: 117px;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="6"] {
                    top: -13px;
                    &:before {
                        bottom: -25px;
                        right: -5px;
                    }
                }
                &[data-id="7"] {
                    top: -61px;
                    &:before {
                        bottom: -25px;
                        right: -5px;
                    }
                }
                &[data-id="8"] {
                    top: -114px;
                    &:before {
                        bottom: -25px;
                        right: -5px;
                    }
                }
                &[data-id="9"] {
                    top: -174px;
                    &:before {
                        bottom: -25px;
                        right: -5px;
                    }
                }
                &[data-id="10"] {
                    top: -238px;
                    &:before {
                        bottom: -25px;
                        right: -5px;
                    }
                }
                &.active {
                    color: transparent;
                    
                    &[data-id="0"] {
                        top: 216px;
                    }
                    &[data-id="1"] {
                        top: 204px;
                    }
                    &[data-id="2"] {
                        top: 189px;
                    }
                    &[data-id="3"] {
                        top: 170px;
                    }
                    &[data-id="4"] {
                        top: 146px;
                    }
                    &[data-id="5"] {
                        top: 113px;
                    }
                    &[data-id="6"] {
                        top: -8px;
                    }
                    &[data-id="7"] {
                        top: -55px;
                    }
                    &[data-id="8"] {
                        top: -108px;
                    }
                    &[data-id="9"] {
                        top: -168px;
                    }
                    &[data-id="10"] {
                        top: -231px;
                    }
                    &:before {
                        width: 25px;
                        height: 25px;
                        background: #FB1A43;
                    }
                }
                &:hover {
                    text-decoration: none;
                    color: #FB1A43;
                }
            }
        }
    }

    &-pagination {
        z-index: 101;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 15px;
        top: 245px;

        .prev,
        .next {
            cursor: pointer;
            margin-left: 30px;
            display: inline-block;
            width: 8px;
            height: 12px;
        }

        .prev {
        	background: url('../images/arrow-prev-blue.svg') center / contain no-repeat;
        	&:hover {
	        	background: url('../images/arrow-prev-red.svg') center / contain no-repeat;
        	}
        }
        .next {
        	background: url('../images/arrow-next-blue.svg') center / contain no-repeat;
        	&:hover {
	        	background: url('../images/arrow-next-red.svg') center / contain no-repeat;
        	}
        }

        img {
            width: 8px;
        }
    }

    &-slider {
        margin-top: 230px;

        strong {
            display: inline-block;
            width: 100%;
            font-family: Montserrat Alternates;
            font-style: normal;
            font-weight: bold;
            font-size: 54px;
            line-height: 66px;
            color: #FB1A43;
        }

        span {
            display: inline-block;
            width: 100%;
            font-weight: 600;
            font-size: 24px;
            line-height: 160%;
            color: #19306B;
            margin: 0 0 20px;
        }

        p {
            margin: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #19306B;
        }
    }
}

.geo {
    min-height: 900px;
    background: url('../images/site/map-bg.jpg') center top no-repeat;

    h2 {
        margin-bottom: 155px;
    }

    strong {
        display: inline-block;
        width: 100%;
        margin: 0 0 7px;
        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        color: #FFFFFF;
    }

    p {
        font-weight: 500;
        font-size: 16px !important;
        line-height: 26px !important;
        color: #FFFFFF;
        opacity: 0.8;
        margin: 0 0 40px;
    }
}

.similar-slider {
    .slick-list {
        margin: 0 -15px;
    }

    .blog__item {
        margin: 0 15px;
    }
}

.personal__items {
	&:hover {
		.text {
			background: #FB1A43;
			p, span {
				color: #fff;
			}
		}
	}
	.text {
		background: #fff;
		padding: 30px;
		margin: 0 0 60px;
		p {
			margin: 0 0 10px;
			padding: 0;
			line-height: 1;
			background: none;
		}
		span {
			font-size: 13px;
			line-height: 180%;
			letter-spacing: 0.03em;
			color: #19306B;
		}
	}
}

.e404 {
	min-height: 100vh;
	padding: 60px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url('../images/site/bg404.jpg') center / cover no-repeat;
	a {
		margin-bottom: 15px;
		display: inline-block;
		&.btn {}
	}
	h1 {
		font-size: 424px;
		line-height: 100%;
		opacity: 0.9;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		color: #19306B;
	}
	strong {
		display: inline-block;
		font-family: Montserrat;
		font-weight: 600;
		font-size: 34px;
		line-height: 160%;
		color: #19306B;
		margin: 0 0 25px;
	}
	p {
		font-size: 16px;
		line-height: 32px;
		color: #19306B;
		margin: 0 0 50px;
		width: 75%;
		display: inline-block;
	}
}

nav.inner {
	padding: 120px 0;
	ul {
		li {
			margin: 0 0 15px;
			a {
				font-size: 20px;
				line-height: 160%;
				color: #19306B;
				&:hover {
					color: #ec2538;
				}
				b {
					font-size: 24px;
					font-weight: 600;
				}
			}
		}
	}
	a.phone {
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		color: #19306B;
		margin-bottom: 15px;
		&:hover {
			text-decoration: none;
			color: #ec2538;
		}
	}
	a.mail {
		font-weight: 600;
		font-size: 24px;
		line-height: 160%;
		color: #19306B;
		margin-bottom: 20px;
		&:hover {
			text-decoration: none;
			color: #ec2538;
		}
	}
	a.insta {
		& + p {
			font-size: 13px;
			line-height: 19px;
			letter-spacing: 0.03em;
			color: #19306B;
			opacity: 0.6;
			margin: 0 0 70px;
		}
	}
}

.personal__items {
    text-decoration: none !important;
}

#personal {
    .modal {
        &-content {
            .close {}
        }
        &-body {
            background: #fff;
            padding: 50px;
            .image {
                text-align: left;
                margin: 0 0 30px;
                img {
                    display: inline-block;
                }
            }
            .text {
                text-align: left;
                h2 {
                    font-family: Montserrat Alternates;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 54px;
                    line-height: 66px;
                    color: #19306B;
                    margin: 0;
                }
                p {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 180%;
                    color: #19306B;
                    margin-bottom: 20px;
                }
                .scroll {
                    max-height: 300px;
                    p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                        color: #19306B;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .header__inner {
        .logo {
            p {
                font-size: 10px;
                line-height: 1.3;
            }
        }
    }
}

@media (max-width: 1449px) {
	.e404 {
		h1 {
			font-size: 300px;
		}
	}
    .header__inner {
        .logo {
            p {
                display: none;
            }
        }

        a.menu span {
            margin-left: 20px;
        }

        a.phone {
            font-size: 14px;
        }

        ul {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }

    .blog__item--video {
        &:after {
            top: 120px;
        }
    }

    .box .cert__items {
        height: 485px;
    }

    .box .personal__card .image {
        height: 330px;
    }

    .footer__link a {
        font-size: 34px;
    }

    .footer__inner .btn {
        padding: 0 30px;
        font-size: 12px;
    }

    .box .cert__items {
        height: 305px;
    }

    main .box .history__text p {
        font-size: 14px;
        line-height: 24px;
    }

    main .box .history__footer .thumbs .image {
        width: 90px;
        margin-right: 10px;
    }

    .form__consultation.box form .btn {
        padding: 0 20px;
    }

    .manager__block h3 {
        font-size: 26px;
    }

    .white-box .title h1 {
        font-size: 36px;
        line-height: 1.4;
    }

    .white-box {
        padding-top: 60px;
    }

    .footer__inner ul a {
        font-size: 16px;
        line-height: 26px;
    }

    .footer__inner .contacts__link {
        font-size: 18px;
    }
    .history-main {
        .dots {
            position: absolute;
            top: 282px;
            a {
                &[data-id="0"] {
                    top: 213px;
                }
                &[data-id="1"] {
                    top: 200px;
                }
                &[data-id="2"] {
                    top: 184px;
                }
                &[data-id="3"] {
                    top: 167px;
                }
                &[data-id="4"] {
                    top: 144px;
                }
                &[data-id="5"] {
                    top: 118px;
                }
                &[data-id="6"] {
                    top: -1px;
                }
                &[data-id="7"] {
                    top: -36px;
                }
                &[data-id="8"] {
                    top: -74px;
                }
                &[data-id="9"] {
                    top: -115px;
                }
                &[data-id="10"] {
                    top: -158px;
                }
                &.active {
                    color: transparent;
                    
                    &[data-id="0"] {
                        top: 209px;
                    }
                    &[data-id="1"] {
                        top: 196px;
                    }
                    &[data-id="2"] {
                        top: 179px;
                    }
                    &[data-id="3"] {
                        top: 162px;
                    }
                    &[data-id="4"] {
                        top: 139px;
                    }
                    &[data-id="5"] {
                        top: 113px;
                    }
                    &[data-id="6"] {
                        top: 4px;
                    }
                    &[data-id="7"] {
                        top: -31px;
                    }
                    &[data-id="8"] {
                        top: -69px;
                    }
                    &[data-id="9"] {
                        top: -109px;
                    }
                    &[data-id="10"] {
                        top: -152px;
                    }
                    &:before {
                        width: 25px;
                        height: 25px;
                        background: #FB1A43;
                    }
                }
            }
        }
    }
    .advantages__inner {
        padding-top: 60px;
        width: calc(100% - 80px);
        margin: 0 40px;
        .nav {
            margin-bottom: 140px;
            &-item:first-of-type {
                margin-top: 80px;
            }
            &-item:last-of-type {
                margin-top: 80px;
            }
        }
    }
    .box .map {
        left: 32%;
        bottom: -30px;
        height: 730px;
        background-position: left center !important;
        min-width: 1210px;
        .dot.b {
            right: 360px !important;
            bottom: 300px !important;
        }
        .dot.k {
            left: 110px !important;
            bottom: 235px !important;
        }
        .dot.h {
            right: 460px !important;
            bottom: 260px !important;
        }
    }
    .geo {
        min-height: 730px;
        background: url(../images/site/map-bg.jpg) 50px 110px / 1470px no-repeat;
    }
}

@media(max-width: 1199px) {
    .blog__item--video {
        &:after {
            top: 130px;
        }
    }
    .history-pagination {
        right: 30px;
    }

    .box,
    .white-box {
        h2 {
            font-size: 32px;
        }
    }

    .services__item {
        strong {
            font-size: 21px;
            line-height: 1.4;
        }

        p {
            font-size: 12px !important;
            line-height: 1.7 !important;
        }
    }

    .white-box {
        .video {
            background: url(../images/site/yt.png) left top no-repeat;
            padding: 70px 0 0 0;
            display: inline-block;
        }

        .title h1 {
            font-size: 28px;
        }

        .tag {
            span {
                font-size: 12px;
            }

            a,
            p {
                font-size: 14px;
            }
        }
    }

    .header-page {
        padding-bottom: 40px;

        h1 {
            margin-top: 80px;
            font-size: 44px;
        }
    }

    .catalog__item {
        height: 220px;
    }

    .faq__title {
        padding: 40px 100px 40px 60px !important;
    }

    .title-flex {
        margin-top: 80px;

        h1 {
            margin-top: 0;
        }
    }

    .box {
        .personal__items>p {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            transform: rotate(-90deg);
            transform-origin: -9px -10px;
            margin: 0 0 0px;
            opacity: 1;
            position: absolute;
            bottom: 5px;
            top: inherit;
        }

        .personal__card {
            width: 100%;
            max-width: 85%;
            margin-left: 45px;

            .image {
                height: 250px;
            }

            .box .personal__card p {
                line-height: 1.3;
                padding: 20px 25px;
                background: #fff;
                color: #19306b;
                font-size: 16px;
                font-weight: 600;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                opacity: 1;
                min-height: 80px;
            }
        }

        h3 {
            font-size: 26px;
            line-height: 1.4;

            &+p {
                font-size: 12px !important;
            }
        }

        .cert__items {
            height: 405px;
        }
    }

    .pr__items .text {
        strong {
            font-size: 24px;
        }

        p {
            font-size: 12px;
        }
    }

    .work-steps__item {
        padding: 20px;
        min-height: 320px;

        span {
            font-size: 14px;
        }

        strong {
            font-size: 21px;
            line-height: 1.4;
        }

        p {
            width: 85%;
            left: 20px;
            font-size: 12px !important;
            line-height: 18px !important;
        }
    }

    .geo {
        min-height: 700px;
        background: url(../images/site/map-bg.jpg) -120px 150px/1470px no-repeat;
    }
    .history-slider {
    		strong {
    				font-size: 34px;
    		}
    		span {
    				font-size: 16px;
    		}
    		p {
    				font-size: 12px;
    				line-height: 2;
    		}
    }
    .history-main {
    		padding: 80px 0;
    		margin-bottom: 60px;
    		h2 {
    			font-size: 34px;
    		}
    }

    .history-main {
        .dots {
            position: absolute;
            top: 231px;
            a {
                &[data-id="0"] {
                    top: 187px;
                }
                &[data-id="1"] {
                    top: 176px;
                }
                &[data-id="2"] {
                    top: 162px;
                }
                &[data-id="3"] {
                    top: 149px;
                }
                &[data-id="4"] {
                    top: 131px;
                }
                &[data-id="5"] {
                    top: 110px;
                }
                &[data-id="6"] {
                    top: -4px;
                }
                &[data-id="7"] {
                    top: -33px;
                }
                &[data-id="8"] {
                    top: -63px;
                }
                &[data-id="9"] {
                    top: -97px;
                }
                &[data-id="10"] {
                    top: -133px;
                }
                &.active {
                    color: transparent;
                    
                    &[data-id="0"] {
                        top: 181px;
                    }
                    &[data-id="1"] {
                        top: 171px;
                    }
                    &[data-id="2"] {
                        top: 158px;
                    }
                    &[data-id="3"] {
                        top: 144px;
                    }
                    &[data-id="4"] {
                        top: 126px;
                    }
                    &[data-id="5"] {
                        top: 105px;
                    }
                    &[data-id="6"] {
                        top: 1px;
                    }
                    &[data-id="7"] {
                        top: -27px;
                    }
                    &[data-id="8"] {
                        top: -58px;
                    }
                    &[data-id="9"] {
                        top: -92px;
                    }
                    &[data-id="10"] {
                        top: -128px;
                    }
                    &:before {
                        width: 25px;
                        height: 25px;
                        background: #FB1A43;
                    }
                }
            }
        }
    }
    .footer__inner {
        .btn {
            font-size: 10px;
            line-height: 42px;
            padding: 0 25px;
        }
    }
    .box {
        a.c{
            font-size: 26px;
        }
        &.contacts {
            min-height: 650px;
        }
        .map {
            left: 34%;
            bottom: -30px;
            height: 600px;
            min-width: 1090px;
            .dot-popup {
                padding: 30px;
                width: 340px !important;
                left: -370px;
                p {
                    font-size: 500px;
                    font-size: 12px;
                    line-height: 1.8;
                }
                a.phone {
                    margin: 0 0 10px;
                    font-size: 21px;
                }
            }
            .dot {
                &.k {
                    left: 80px !important;
                    bottom: 185px !important;
                    .dot-popup {
                        right: -375px;
                    }
                }
                &.b {
                    right: 370px !important;
                    bottom: 240px !important;
                }
                &.h {
                    right: 470px !important;
                    bottom: 190px !important;
                }
            }
        }
    }
}

@media (max-width: 991px) {
	.e404 {
		h1 {
			font-size: 200px;
		}
		strong {
			line-height: 1.4;
		}
		p {
			line-height: 1.5;
		}
	}
	.footer__link a {
		height: 160px;
		font-size: 24px;
		background-size: 70% 70% !important;
	}
	.white-box {
		padding: 40px 15px;
		margin-bottom: 0;
		.title {
			h1 {
				font-size: 21px;
			}
		}
		.back {
			margin-bottom: 40px;
			display: inline-block;
		}
		.video {
			padding: 0 0 0 90px;
		}
	}
	.title {
		.d-flex {
			flex-wrap: wrap;
			.tag {
				flex: 0 0 100%;
			}
			ul {
				display: none;
			}
			.btn {
				margin: 0;
			}
		}
	}
	.subs {
		margin-top: 60px !important;
	}
	.tag {
		ul {
			margin: 0;
			li a {
				font-size: 10px;
			}
		}
	}
	.blog__item--xl .image {
		height: 340px;
	}
	.catalog__item {
		height: 325px;
	}
	.header-page h1 {
		font-size: 34px;
		margin: 0;
	}
	.title-flex {
		margin: 0;
	}
	.box .cert__items {
		height: 285px;
	}
	.header__inner-main .btn-primary {
		display: inline-block;
	}
	.white-box .title {
		margin: 0 0 30px;
	}
	.box h2, .white-box h2 {
		font-size: 26px;
		margin: 0 0 40px;
		line-height: 60px;
	}
	a.all {
	    margin: 0 0 35px 20px !important;
	    font-size: 11px;
	    line-height: 60px;
	}
	.project-pagination, .blog-pagination {
		margin-bottom: 35px;
		.prev, .next {
			width: 46px;
			height: 46px;
		}
		.count {
			font-size: 14px;
			margin: 0 15px;
		}
	}
	.geo {
	    min-height: 630px;
        background: url(../images/site/map-bg.jpg) center bottom/880px no-repeat;
        margin: 0 0 40px;
	    strong {
	    	font-size: 24px;
	    	line-height: 1;
	    }
	}
	.history-pagination {
		top: 250px;
	}
	.history-main {
		padding: 50px 0 80px;
		h2 + p {
			width: 70%;
		}
	}
	.w50 {
		width: 50%;
		float: left;
		h2 {
			font-size: 34px;
			line-height: 1;
			margin: 0;
		}
	}
	.manager__block {
		p {
			margin: 0 !important;
		}
	}
	.form__consultation.box {
		padding: 40px 0 70px;
		margin: 0 20px 90px;
		h2 {
			margin-bottom: 40px;
		}
	}
	.blog__item--project .image {
		height: 220px;
	}
	.work-steps__item {
		margin-bottom: 30px;
		min-height: 230px;
	}

	.footer__inner {
		padding-top: 50px;
		.btn {
			margin-bottom: 40px;
		}
		.bottom {
			margin-top: 60px;
			p {
				text-align: inherit;
			}
		}
	}
	.box .map .dot {
		display: none;
	}
	.box .map {
		background: none;
	}
	.box.contacts {
		padding: 60px 0;
		.dot-popup p {
			color: #19306b;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.6;
			height: 80px;
		}
		.slick__dot {
			.slick-list {
				margin: 0 -15px;
			}
			&--items {
				margin: 0 15px;
			}
		} 
	}
    .history-main {
        background: #fff url(../images/site/ab-slider.svg) center -60px /cover no-repeat;        
        .dots {
            position: absolute;
            top: 246px;
            display: none;
            a {
                font-size: 14px;
                &[data-id="0"] {
                    top: 187px;
                }
                &[data-id="1"] {
                    top: 176px;
                }
                &[data-id="2"] {
                    top: 162px;
                }
                &[data-id="3"] {
                    top: 149px;
                }
                &[data-id="4"] {
                    top: 131px;
                }
                &[data-id="5"] {
                    top: 110px;
                }
                &[data-id="6"] {
                    top: -4px;
                }
                &[data-id="7"] {
                    top: -33px;
                }
                &[data-id="8"] {
                    top: -63px;
                }
                &[data-id="9"] {
                    top: -97px;
                }
                &[data-id="10"] {
                    top: -133px;
                }
                &.active {
                    color: transparent;
                    
                    &[data-id="0"] {
                        top: 181px;
                    }
                    &[data-id="1"] {
                        top: 171px;
                    }
                    &[data-id="2"] {
                        top: 158px;
                    }
                    &[data-id="3"] {
                        top: 144px;
                    }
                    &[data-id="4"] {
                        top: 126px;
                    }
                    &[data-id="5"] {
                        top: 105px;
                    }
                    &[data-id="6"] {
                        top: 1px;
                    }
                    &[data-id="7"] {
                        top: -27px;
                    }
                    &[data-id="8"] {
                        top: -58px;
                    }
                    &[data-id="9"] {
                        top: -92px;
                    }
                    &[data-id="10"] {
                        top: -128px;
                    }
                    &:before {
                        width: 25px;
                        height: 25px;
                        background: #FB1A43;
                    }
                }
            }
        }
    }
    .history-pagination {
        top: 95px;
    }
    .history-slider {
        margin-top: 70px;
    }
}

@media (max-width: 767px) {
    #personal {
        .modal-body {
            padding: 30px;
            h2 {
                margin: 0 !important;
                line-height: 1.2 !important;
            }
        }
    }
    .blog__item--video {
        &:after {
            top: 140px;
        }
    }
    .advantages__inner {
        &:before {
            right: 0;
        }
        width: 100%;
        margin: 0;
    }
	.e404 {
		h1 {
			font-size: 80px;
			margin: 20px 0;
		}
		strong {
			line-height: 1.2;
			font-size: 21px;
			width: 100%;
		}
		p {
			line-height: 1.5;
			width: 100%;
		}
	}
	.box p:not([class]) {
	    font-style: normal;
	    font-size: 14px;
	    line-height: 30px;
	    margin: 0 0 30px;
	}
	.box h4 {
		font-size: 18px;
	}
	.history-main h2 {
		font-size: 21px;
		margin: 0;
		& + p {
			font-size: 14px !important;
			line-height: 1.7;
		}
	}
	footer.footer__inner .bottom {
		margin: 50px 15px 0;
		width: auto;
	}
	.footer__link  {
		margin-top: 40px;
	}
	.footer__link a span {
		padding: 0;
		background: none;
	}
	.box .personal__card .image {
		height: 400px;
	}
	.geo {
	    padding-bottom: 340px;
	    p {
	    	margin-bottom: 20px !important;
	    }
	}
	.box .personal__card p {
		padding: 0px;
        margin: 0 !important;
	}
	.white-box p {
		font-size: 14px;
		b {
			font-size: 18px;
		}
	}
	.white-box .social ul li a {font-size: 12px;}
	.similar-slider  {
		margin-bottom: 40px;
	}
	.pagination a {
		width: 46px;
		height: 46px;
		font-size: 18px;
	}
	.box.text {
		margin-bottom: 80px;
		padding-bottom: 0;
	}
	.tag ul {
	    margin: 0;
	    overflow: auto;
	    white-space: nowrap;
	    li {
	    	margin-right: 10px;
	    }
	}
	.catalog__item {
	    height: 235px;
	}
	.box.contacts {
		.dot-popup p {
			color: #19306b;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.6;
			height: 80px;
		}
		.slick__dot {
			margin-top: 40px;
			.slick-list {
				margin: 0 -10px;
			}
			&--items {
				margin: 0 10px;
			}
		} 
	}
	.title-flex {
		flex-wrap: wrap;
		align-items: flex-start;
        h1 {
            flex: 0 0 100%;
        }
	}
	.box h3 {
		font-size: 21px;
		margin: 0;
		& + p {
			margin-bottom: 50px !important;
		}
	}
	.scroll {
		flex-wrap: nowrap;
		overflow: auto;
		& > div {
			flex: 0 0 230px;
		}
	}
	main .col-m {
		margin-bottom: 60px;
		.history__item {
			padding: 30px;
		}
		.history__title {
			p {
				font-size: 18px !important;
				width: 55%;
			}
		}
	}
	.project-pagination, .blog-pagination {
		.count {
			display: none;
		}
		.next {
			margin-left: 15px;
		}
	}
	.fw {
		flex-wrap: wrap;
		align-items: flex-start !important;
		justify-content: flex-start;
		margin-bottom: 55px;
		flex: 0 0 70%;
		h2 {
			flex: 0 0 100%;
			margin: 0 0 15px;
			line-height: 1.4;
		}
		a.all {
			margin: 0 !important;
			line-height: 1;
		}
	}
	.personal__inner .personal__card {
	    width: 220px;
	}
	.personal__inner .personal__card .image {
	    height: 250px;
	}
	.white-box .title h1 {
		width: 100%;
		margin: 0px 0 30px;
	}
	.box .d-flex h2, {
	    font-size: 26px;
	    margin: 0 10px 40px 0;
	    line-height: 30px;
	}
    .history-slider {
        margin-top: 120px;
    }
    .history-pagination {
        top: 150px;
        right: 30px;
    }
    .history-main {
        background: #fff url(../images/site/ab-slider.svg) center -68px /cover no-repeat;
        margin-bottom: 0;
        .dots {
            position: absolute;
            top: 210px;
            a {
                font-size: 14px !important;
                &[data-id="0"] {
                    top: 0 !important;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="1"] {
                    top: 0 !important;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="2"] {
                    top: 0 !important;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="3"] {
                    top: 0 !important;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &[data-id="4"] {
                    top: 0 !important;
                    &:before {
                        top: -25px;
                        left: -5px;
                    }
                }
                &:hover {
                    text-decoration: none;
                    color: #FB1A43;
                }
                &.active {
                    color: #FB1A43;
                    &:before {
                        top: -29px;
                        width: 25px;
                        height: 25px;
                        background: #FB1A43;
                    }
                }
            }
        }
    }
    .footer__inner {
        text-align: center;
    }
    .box .manager__block .w50 p {
        margin-bottom: 0 !important;
    }
}

@media(max-width: 575px) {
    .box.text p:not([class]) {
        font-size: 14px !important;
        line-height: 1.8 !important;
    }
    .box.text h2 {
        margin-bottom: 20px;
    }
    .catalog__item {
        height: 235px;
        background-size: 485px !important;
        background-position: top left!important;
    }
    .header__inner {
        padding: 25px 0;
        a.phone {
            display: none;
        }
    }
    .box {
        h3 + p {
            font-size: 14px !important;
            line-height: 1.8 !important;
            margin: 15px 0 30px !important;
        }
        [class*="pt"] {
            padding-top: 0 !important;
        }
        .w50 {
            width: 100%;
            p {
                line-height: 1.4;
            }
        }
        .personal__card {
            .image {
                height: 240px;
            }
            .text {
                margin-bottom: 40px;
                padding: 20px;
                span {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.5;
                }
            }
        }

        .faq__wrapper {
            margin-top: 0;
            margin-bottom: -40px;
        }
        .faq__body p {
            font-size: 13px;
            line-height: 1.7;
            font-weight: 400;
        }
        .map {
            display: none;
        }
        .dot-popup {
            padding: 20px 20px 20px;
            background: #fff;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100% !important;
            strong {
                font-size: 12px;
                line-height: 1.4;
                margin-top: 10px;
            }
            p {
                font-size: 12px !important;
                height: 60px !important;
            }
            a.phone {
                font-size: 16px;
                margin: 0;
            }
        }
        a.c {
            font-size: 24px;
            & ~ .btn {
                margin-top: 40px;
            }
        }
        .history__item {
            margin-bottom: 0px;
            &:before {
                display: none;
            }
        }
        .history__footer {
            flex-wrap: wrap;
            .date {
                p br {
                    display: none;
                }
            }
            .thumbs {
                flex-wrap: wrap;
                flex: 0 0 100%;
                .more, .image {
                    flex: 0 0 45%;
                    margin: 0 5% 5% 0px;
                }
            }
        }
        .row .history__title {
            flex-direction: column;
            align-items: flex-start !important;
            p {
                width: 100% !important;
                margin: 0 0 20px !important;
            }
        }    
    }
    .title-flex .btn {
        margin-top: 20px;
    }
    .history-main {
        width: 100%;
        margin: 0;
        .dots {
            display: none;
        }
    }
    .footer__link {
        flex-direction: column;
        a {
            width: 100%;
            flex: 0 0 100%;
            border-right: none;
            line-height: 100px;
        }
    }
    .footer__inner {
        .logo + p {
            font-size: 10px;
            margin: 0 0 40px;
        }
        .bottom {
            text-align: center !important;
            p {
                text-align: center !important;
            }
        }
    }
    .geo {
        padding-bottom: 270px;
    }
    .fw {
        flex: 0 0 50%;
    }
    .box .d-flex h2 {
        margin-bottom: 20px;
    }
    .white-box {
        width: 100%;
        margin: 00px 0 0;
        .video {
            background: url(../images/site/yt.png) left center no-repeat;
        }
        .title h1 {
            margin-bottom: 0;
            & + .btn {
                margin-top: 30px;
            }
        }
        .social {
            ul {
                flex-direction: column;
                align-items: flex-start;
                li {
                    margin-bottom: 15px;
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
        form {
            flex-direction: column;
            align-items: flex-start;
            .btn {
                flex: 0 0 100%;
                width: 100%;
            }
            div {
                width: 100%;
            }
        }
        blockquote {
            p {
                font-size: 14px;
                line-height: 1.7;
                text-transform: none;
            }
            span {
                font-size: 12px;
            }
        }
        p {
            margin: 0 0 20px;
            font-size: 14px;
            line-height: 1.8;
            b {
                font-size: 16px;
            }
        }
        img {
            margin: 0 0 30px;
        }
        .tag {
            margin-top: 0;
            span {
                display: none;
            }
        }
    }
    .blog__item {
        .image {
            height: 180px;
        }
        .text {
            p {
                line-height: 1.4 !important;
                margin: 0 !important;
                height: 60px;
            }
        }
        .text .d-flex {
            flex-direction: column;
            align-items: flex-start !important;
            span {
                flex: 0 0 100%;
                &.text-large {
                    display: none;
                 }
            }
        }
    }
    .header-page h1 {
        font-size: 24px;
        line-height: 1.4;
    }
    .box.contacts .slick__dot .slick-list {
        margin: 0 -15px;
    }
    main .faq__title {
        line-height: 1.5;
        font-size: 14px;
    }
    .pagination a.prev {
        display: none;
    }
    .pagination a.next {
        display: none;
    }
    .pagination span {
        width: 26px;
        height: 46px;
    }
    .services__item {
        padding: 20px;
        .hover {
            z-index: 0;
        }
        strong {
            font-size: 16px;
            height: auto;
            margin: 0 0 40px;
        }
        p {
            position: static;
        }
    }
    .box .manager__block {
        margin: 0;
    }
    .box .manager__block .w50 {
        margin-bottom: 40px;
        p {
            margin-top: 5px !important;
        }
        & + .w50 {
            margin: 0;
        }
    }
    .box h2, .white-box h2 {
        line-height: 1.5;
    }
    nav.inner {
        padding: 60px 0;
        ul {
            li {
                a {
                    font-size: 16px;
                    b {
                        font-size: 21px;
                    }
                }
            }
        }
    }
    .pr__items {
        flex-direction: column;
        .text {
            margin-top: 20px;
            strong {
                font-size: 18px;
            }
            p {
                font-size: 14px;
                line-height: 1.8;
            }
        }
    }
    .form__consultation.box {
        width: 100%;
        margin: -40px 0 80px;
    }
    .box a.all {
        margin-bottom: 15px !important;
    }
    .blog__item--video {
        .image {
            height: 280px;
        }
        .text {
            .d-flex {
                align-items: center !important;
            }
        }
    }
    .blog__item--about {
        .image {
            height: 280px;
        }
        .text {
            .d-flex {
                align-items: center !important;
            }
        }
    }
}