
a,
li,
img,
button,
input {
	transition: all 0.3s ease;
}

html {
	scroll-behavior: smooth;
}
body {
	background: #19306b url('../images/header-bg.jpg') top right no-repeat;
	padding: 0;
	position: relative;
	scroll-behavior: smooth;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1450px) {
  .container {
    max-width: 1420px;
  }
}

input {
	outline: none !important;
	box-shadow: none !important;
}

header {
	padding: 30px 25px;
	position: relative;
	z-index: 2;
	&.sticky {
		z-index: 109;
	}
	a {
		text-decoration: none !important;
		&.logo {
			display: inline-block;
			margin-right: 35px;
		}
		&.menu {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			width: auto;
			float: right;
			transition: all .2s linear;
			p {
				font-size: 13px;
				text-transform: uppercase;
			}
			span {
				display: inline-block;
				width: 72px;
				height: 72px;
				border-radius: 72px;
				background: #fff;
				margin-left: 35px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.3s ease;
				&:before {
					content: '';
					width: 20px;
					height: 3px;
					background: #19306b;
					color: #19306b;
					box-shadow: 0 -6px 0px currentColor, 0 6px 0px currentColor;
					transition: all 0.3s ease;
				}
			}
			&:hover {
				span {
					background: #ec2538;
					&:before {
						content: '';
						width: 20px;
						height: 3px;
						background: #fff;
						color: #fff;
						box-shadow: 0 -6px 0px currentColor, 0 6px 0px currentColor;
					}
				}
			}
			&.sticky {
				position: fixed;
				top: 15px;
				right: 40px;
				z-index: 999;
				p {
					display: none;
				}
				span {
					background: #ec2538;
					&:before {
						content: '';
						width: 20px;
						height: 3px;
						background: #fff;
						color: #fff;
						box-shadow: 0 -6px 0px currentColor, 0 6px 0px currentColor;
					}
				}
			}
		}
	}
	p {
		margin: 0;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		line-height: 1.4;
	}
}

main {
	position: relative;
	z-index: 3;
	padding: 0 25px;
	h2 {
		font-size: 54px;
		line-height: 1;
		margin: 0;
		color: #fff;
		font-weight: 700;
		font-family: 'Montserrat Alternates';
	}
	h3 {
		font-size: 54px;
		line-height: 1;
		margin: 0;
		color: #fff;
		font-weight: 700;
		font-family: 'Montserrat Alternates';
	}
}

.btn {
	outline: none !important;
	box-shadow: none !important;
}

.header {
	padding: 30px 0 70px 70px;
	position: relative;
	h1 {
		margin-bottom: 25px;
		font-size: 72px;
		font-family: 'Montserrat Alternates';
		font-weight: 700;
		line-height: 82px;
		color: #fff;
		span {
            display: inline-block;
			color: #fff;
			font-size: inherit;
			font-weight: 700;
			font-family: inherit;
			position: relative;
			&:before {
				content: url('../images/pen1.png');
				position: absolute;
				top: 60%;
				left: 50%;
				z-index: -1;
				transform: translate(-50%,-50%);
			}
		}
	}
	a {
		font-size: 13px;
		color: #fff;
		opacity: .5;
		text-transform: uppercase;
		margin-left: 55px;
		font-weight: 600;
		background: url('../images/link.png') right center / 9px no-repeat;
		padding-right: 20px;
		&:hover {
			text-decoration: none;
			opacity: 1;
		}
		&.request {
			margin: 0;
			opacity: 1;
			font-family: 'Montserrat Alternates';
			font-size: 21px;
			font-weight: 700;
			background-size: auto;
			padding-right: 40px;
			margin-left: 70px;
			&:hover {
				opacity: .6;
			}
		}
	}
	.slick__header {
		margin-bottom: 0;

        &--items {
          padding-bottom: 100px;

          & > span {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
		    font-weight: bold;
            line-height: 1.6;
            margin-bottom: 25px;
            color: #fff;
          }
          & > p {
            font-size: 18px;
            line-height: 1.6;
            max-width: 875px;
            color: #fff;
          }
        }
	}
	.slick-dots {
		&-header {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		}
		position: static;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 70%;
		li {
			height: auto;
			width: auto;
			margin: 10px 0;
			button {
				width: 12px;
				height: 12px;
				background: #3f548c;
				border-radius: 18px;
				&:before {
					display: none;
				}
			}
			&.slick-active {
				button {
					width: 18px;
					height: 18px;
					background: #fff;
				}
			}
		}
	}
}

.project {
	padding: 190px 0 130px;
	background: #fff url('../images/pj-bg.jpg') top center / 100% auto no-repeat;
	position: relative;
	&:before {
		content: url('../images/cn1.png');
		top: -41px;
		left: 50%;
		margin-left: -106px;
		position: absolute;
	}
	&:after {
		content: url('../images/scroll.png');
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
	}
	h2 {
		color: #0f2c61;
		margin: 0 0 35px;
	}
	p {
		color: #19306b;
		font-size: 15px;
		line-height: 32px;
		font-weight: 500;
		margin: 0 0 30px;
	}
    &-ntext {
      max-width: 575px;
    }
	.btn {}
	&__count {
		font-family: 'Montserrat Alternates';
		font-size: 18px;
		font-weight: 700;
		line-height: 1;
		white-space: nowrap;
		margin: 0 30px;
		color: #0f2c61;
	}
	.tab-content {
		margin-top: 90px;
	}
	.nav {
		margin-top: 80px;
		border-top: 3px solid #0f2c61;
		border-bottom: 3px solid #0f2c61;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 0 25px;
		overflow: auto;
		&-item {}
		&-link {
			font-size: 24px;
			font-weight: 700;
			line-height: 80px;
			color: #0f2c61;
			background: none !important;
			border: none;
			&.active {
				color: #ec2538;
				position: relative;
				&:before {
					content: '';
					display: inline-block;
					    width: 120px;
					    height: 60px;
					    background: url(../images/pen1.png) center / contain no-repeat;
					    position: absolute;
					    left: 50%;
					    top: 50%;
					    transform: translate(-50%,-50%);
				}
				&:after {
					content: url('../images/nv.png');
					top: -70px;
					left: 50%;
					transform: translateX(-50%);
					position: absolute;
				}
			}
			&:hover {
				color: #ec2538;
			}
		}
	}
	.slick {
		&-list {
			margin: 0 -30px;
		}
		&__year {
			&--items {
				margin: 0 30px;
				.image {
					position: relative;
					margin-bottom: 40px;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: #ec2538;
						z-index: 8;
						mix-blend-mode: multiply;
					}
					&:hover {
						cursor: url('../images/cursor.png'), pointer;
						&:before {
							display: none;
						}
					}
				}
				a {
					display: inline-block;
					line-height: 1;
					width: 100%;
				}
				strong {
					display: inline-block;
					line-height: 1.4;
					font-weight: 600;
					color: #19306b;
					font-size: 20px;
					margin: 0 0 15px;
				}
				p {
					margin: 0;
					text-decoration: none !important;
				}
				&:hover {
					strong {
						color: #ec2538;
					}
					a {
						text-decoration: none !important;
					}
				}
			}
		}
	}
	&__pag {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	&__prev {
		width: 66px;
		height: 66px;
		border-radius: 66px;
		border: 2px solid #0f2c61;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0px;
		background: url('../images/arrow-prev-blue.svg') center / 10px auto no-repeat;
		&:hover {
			cursor: pointer;
			background: #0f2c61 url('../images/arrow-prev.svg') center / 10px auto no-repeat;
		}
	}
	&__next {
		width: 66px;
		height: 66px;
		border-radius: 66px;
		border: 2px solid #0f2c61;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #0f2c61;
		font-size: 0px;
		background: url('../images/arrow-next-blue.svg') center / 10px auto no-repeat;
		&:hover {
			cursor: pointer;
			background: #0f2c61 url('../images/arrow-next.svg') center / 10px auto no-repeat;
		}
	}
	.tab-pane {
		.project__pag {
			position: absolute;
			top: -60px;
			left: 15px;
		}
	}
}

.services {
	padding: 140px 0 80px;
	counter-reset: num;
	position: relative;
	&:before {
		content: url('../images/dot-bg2.jpg');
		position: absolute;
		right: -25px;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;
	}
	h2 {
		margin-bottom: 70px;
	}
	&__swrapper {
		margin-right: 30px;
	}
	&__items {
		&.active {
			background: url('../images/sv-bg.jpg') right bottom no-repeat, #fff url('../images/faq-bg.jpg') top left no-repeat;
			margin-bottom: 60px;
			& + .services__items {
				.services__title {
					border-top: none;
				}
			}
			.services__title {
				color: #0f2c61;
				border-top-color: transparent;
				&:after {
					content: '\2014';
					border: 2px solid #182e68;
					color: #182e68;
					font-size: 24px;
					font-weight: 600;
				}
				&:hover {
					&:after {
						color: #fff;
						background: #ec2538;
						border-color: #ec2538;
					}
				}
			}
		}
	}
	&__title {
		font-size: 24px;
		line-height: 180px;
		color: #fff;
		text-decoration: none !important;
		font-weight: 600;
		padding-left: 100px;
		position: relative;
		border-top: 3px solid #fff;
		padding-right: 110px !important;
		display: inline-block;
		width: 100%;
		&:hover {
			cursor: pointer;
			color: #fff;
			&:after {
				color: #fff;
				background: #ec2538;
				border-color: #ec2538;
			}
		}
		&:before {
			content: counter(num, decimal-leading-zero);
			counter-increment: num;
			font-size: 30px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&:after {
			content: '+';
			width: 70px;
			height: 70px;
			border: 2px solid #fff;
			font-family: serif;
			font-size: 48px;
			font-weight: 100;
			color: #fff;
			position: absolute;
			border-radius: 70px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			right: 0;
			top: 50%;
			margin-top: -35px;
		}
	}
	&__scroll {
		height: 260px;
		margin-top: 30px;
		overflow: hidden;
	}
	&__image {
		height: 390px;
		width: 90%;
		margin-bottom: -60px;
		box-shadow: 0px 30px 90px -30px #0b1e50;

	}
	&__body {
		padding-bottom: 0px;
		display: none;
		p {
			font-size: 16px;
			line-height: 2;
			margin: 0 0 25px;
			color: #19306b;
			font-weight: 500;
		}
	}
}

.text-m730 {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.about {
	padding: 70px 0 100px;
	h2 {
		margin-bottom: 90px;
	}
	p {
		font-size: 16px;
		line-height: 36px;
		color: #fff;
		font-weight: 500;
		margin-bottom: 30px;
	}
	strong {
		font-family: 'Montserrat Alternates';
		font-size: 114px;
		margin: 50px 0;
		padding-right: 50px;
		color: #fff;
		font-weight: 700;
		& + p {
			font-size: 22px;
			line-height: 1.4;
			font-family: 'Montserrat Alternates';
			font-weight: 700;
			margin: 0;
		}
		&.stroked {
			position: relative;
			&:before {
				content: url('../images/pen2.png');
				position: absolute;
				z-index: -1;
				top: 65%;
				left: 40%;
				transform: translate(-50%,-50%);
			}
		}
	}
} 

.work {
	padding: 150px 0;
	background: #fff url('../images/w-bg.png') top center no-repeat;
	position: relative;
	.pos-r {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	&:before {
		content: '';
		width: 170px;
		height: 170px;
		background: url('../images/sv-bg.jpg') center no-repeat;
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
	}
	&:after {
		content: url('../images/cn1.png');
		top: -41px;
		left: 50%;
		margin-left: -106px;
		position: absolute;
	}
	h3 {
		margin-bottom: 100px;
		color: #0b1e50;
	}
	&__title {
		p {
			text-transform: uppercase;
			color: #0f2c61;
			font-size: 25px;
			line-height: 1.6;
			margin: 0 0 30px;
			font-weight: 600;
			background: url('../images/q.svg') top left no-repeat;
			padding-top: 90px;
		}
		span {
			display: inline-block;
			line-height: 1;
			font-size: 20px;
			color: #0f2c61;
			font-weight: 500;
			margin-bottom: 110px;
			width: 100%;
		}
	}
	&__hovered {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		z-index: 9;
		// background: #fff;
		padding-right: 22%;
		padding-left: 15px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		transform: translateY(-50%);
		display: none;
		strong {
			text-transform: uppercase;
			color: #0f2c61;
			font-size: 25px;
			font-weight: 500;
			display: inline-block;
			margin: 0 0 15px;
		}
		p {
			margin-bottom: 30px;
			font-size: 16px;
			line-height: 36px;
			font-weight: 500;
			color: #0f2c61;
			height: 288px;
			overflow: hidden;
		}
		.image {
			width: 90px;
			height: 90px;
			border-radius: 90px;
			background: #ec2538;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 90px;
			img {
				width: 38px;
				filter: brightness(10);
			}
		}
	}
	&__wrap {
		flex-wrap: wrap;
	}
	&__items {
		flex: 0 0 33.3333%;
		border: 3px solid #0f2c61;
		margin: -3px 0 0 -3px;
		height: 260px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		z-index: 7;
		background: #fff;
		.icon {
			height: 60px;
			width: 60px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 25px;
			margin-top: 10px;
		}
		.text {
			font-size: 20px;
			font-weight: 600;
			text-align: center;
			line-height: 1.6;
			height: 40px;
			color: #0f2c61;
		}
		&:hover {
			background: #ec2538;
			z-index: 8;
			border-color: #ec2538;
			cursor: pointer;
			.text {
				color: #fff;
			}
			img {
				filter: brightness(10);
			}
		}
	}
}

.personal {
	padding: 160px 0 0px;
	background: url('../images/personal-bg.jpg') left center / contain no-repeat;
	h3 {
		margin: 0 0 110px;
	}
	&__count {
		font-size: 24px;
		line-height: 54px;
		font-weight: 600;
		color: #fff;
	}
	&__items {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		& > p {
			font-size: 20px;
			font-weight: 600;
			color: #fff;
			transform: rotate(-90deg);
			transform-origin: 0px -15px;
			margin: 0 0 0px;
		}
	}
	&__card {
		width: 300px;
		margin-left: 55px;
		.image {
			width: 100%;
			height: 340px;
		}
		p {
			line-height: 80px;
			padding: 0 25px;
			background: #fff;
			color: #19306b;
			font-size: 20px;
			font-weight: 600;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__prev {
		display: inline-block;
		margin-top: 20px;
		color: #fff;
		width: 30px;
		height: 30px;
		font-size: 0px !important;
		background: url('../images/arrow-prev.svg') center / 14px auto no-repeat;
		&:hover {
			cursor: pointer;
			background: url('../images/arrow-prev-red.svg') center / 14px auto no-repeat;
		}
	}
	&__next {
		display: inline-block;
		margin-left: 30px;
		margin-top: 20px;
		color: #fff;
		font-size: 0 !important;
		width: 30px;
		height: 30px;
		background: url('../images/arrow-next.svg') center / 14px auto no-repeat;
		&:hover {
			cursor: pointer;
			background: url('../images/arrow-next-red.svg') center / 14px auto no-repeat;
		}
	}
}

.advantages {
	padding: 200px 0 100px;
	background: url('../images/advn-bg.png') center 124% no-repeat;
	position: relative;
	&:before {
		content: url('../images/dot-bg2.jpg');
		position: absolute;
		right: -25px;
		top: 15%;
		z-index: -1;
	}
	h3 {
		margin-bottom: 120px;
	}
	.nav {
		margin-bottom: 50px;
		counter-reset: nav;
		&-item {
			width: 25%;
			flex: 0 0 25%;
			&:first-of-type {
				margin-top: 140px;
			}
			&:last-of-type {
				margin-top: 140px;
			}
		}
		&-link {
			background: none !important;
			border: none !important;
			color: #fff;
			text-align: center;
			font-size: 20px;
			line-height: 1.4;
			font-weight: 600;
			position: relative;
			&.active {
				&:before {
					content: '';
					width: 18px;
					height: 18px;
					background: #fff;
					box-shadow: 0px 0px 0px 26px #e22;
					margin-left: -9px;
					bottom: -84px;
				}
				&:after {
					content: '';
					background: url(../images/pen2.png) center/contain no-repeat;
					position: absolute;
					z-index: -1;
					width: 200px;
					height: 80px;
					left: 50%;
					top: -2px;
					margin-left: -100px;
				}
			}
			&:before {
				content: counter(nav);
				counter-increment: nav;
				position: absolute;
				color: #ec2538;
				font-family: 'Montserrat Alternates';
				width: 50px;
				height: 50px;
				background: #fff;
				border-radius: 50px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				left: 50%;
				margin-left: -25px;
				bottom: -100px;
				box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.3);
			}
		}
	}
	.tab-content {
		padding-top: 0px;
	}
	.tab-pane {
		img {
			margin-bottom: 55px;
		}
		strong {
			display: inline-block;
			width: 100%;
			line-height: 1.5;
			margin-bottom: 30px;
			font-size: 30px;
			font-weight: 600;
			color: #fff;
		}
		p {
			font-size: 16px;
			font-weight: 500;
			line-height: 30px;
			margin: 0;
			color: #fff;
		}
		.fa {
			font-size: 0px;
			color: #fff;
			width: 30px;
			height: 30px;
			margin-top: 120px;
			background: url('../images/arrow-next.svg') center / 14px auto no-repeat;
			&:hover {
				color: #ec2538;
				background: url('../images/arrow-next-red.svg') center / 14px auto no-repeat;
				text-decoration: none;
			}
			&-angle-left {
				background: url('../images/arrow-prev.svg') center / 14px auto no-repeat;
				&:hover {
					background: url('../images/arrow-prev-red.svg') center / 14px auto no-repeat;
				}
			}
		}
	}
}

.history {
	padding: 130px 0 100px;
	background: #fff;position: relative;
	&:before {
		content: '';
		width: 170px;
		height: 170px;
		background: url('../images/sv-bg.jpg') center no-repeat;
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
	}
	&:after {
		content: url('../images/cn1.png');
		top: -41px;
		left: 50%;
		margin-left: -106px;
		position: absolute;
	}
	.title {
		margin-bottom: 95px;
	}
	h3 {
		color: #19306b;

	}
	.slick__history {
		margin: 0 0 40px 0;
	}
	&__items {
		&--video {
			padding-right: 40px;
			video {
				width: 90%;
			}
			.video {
				position: relative;
				display: inline-block;
				margin: 0;
				&:before {
					content: url('../images/video.png');
					position: absolute;
					z-index: 9;
					bottom: 15px;
					left: 15px;
				}
			}
		}
		&--text {
			padding-right: 40px;
		}
		span {
			display: inline-block;
			width: 100%;
			line-height: 1.5;
			margin: 0 0 25px;
			font-size: 16px;
			color: #19306b;
			font-weight: 500;
		}
		p {
			color: #19306b;
			font-size: 20px;
			line-height: 1.8;
			margin: 0;
		}
		a {
			text-decoration: underline;
			color: #ec2538;
			font-size: 16px;
			display: inline-block;
			line-height: 1.2;
			margin-top: 25px;
			font-weight: 500;
			&:hover {
				text-decoration: none;
			}
		}
		video {}
	}
	&__dots {
		position: relative;
		z-index: 8;
		ul {
			position: static;
            text-align: center;
			li {
				width: 40px;
				height: 40px;
				margin: 0 5px;
				opacity: 1;
				&.slick-active {
					button {
						border: 2px solid #ec2538;
					}
				}
				button {
					opacity: 1;
					width: 40px;
					height: 40px;
					border-radius: 40px;
					border: 2px solid transparent;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					justify-content: center;
					&:before {
						font-size: 0;
						width: 9px;
						height: 9px;
						background: #ec2538;
						border-radius: 100%;
						position: static;
						opacity: 1 !important;
					}
				}
			}
		}
	}
}

.faq {
	padding: 110px 0 60px;
	counter-reset: num;
	position: relative;
	&:before {
		content: url('../images/dot-bg2.jpg');
		position: absolute;
		right: -25px;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;
	}
	h3 {
		margin-bottom: 90px;
	}
	&__wrapper {
		max-width: 930px;
		margin-left: auto;
		margin-right: auto;
	}
	&__items {
		border-top: 2px solid #fff;
		&.active {
			.faq__title {
				&:after {
					content: '\2014';
					border: 2px solid #fff;
					background: #fff;
					color: #182e68;
					font-size: 24px;
					font-weight: 600;
				}
				&:hover {
					&:after {
						color: #fff;
						background: #ec2538;
						border-color: #ec2538;
					}
				}
			}
		}
	}
	&__title {
		font-size: 24px;
		line-height: 1.4;
		color: #fff;
		text-decoration: none !important;
		display: inline-block;
		width: 100%;
		font-weight: 500;
		position: relative;
		padding: 70px 110px 70px 70px;
		&:hover {
			color: #fff;
			cursor: pointer;
			&:after {
				color: #fff;
				background: #ec2538;
				border-color: #ec2538;
			}
		}
		&:after {
			content: '+';
			width: 70px;
			height: 70px;
			border: 2px solid #fff;
			font-family: serif;
			font-size: 48px;
			font-weight: 100;
			color: #fff;
			position: absolute;
			border-radius: 70px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			right: 0;
			top: 50%;
			margin-top: -35px;
		}
		&:before {
			content: counter(num, decimal-leading-zero);
			counter-increment: num;
			font-size: 30px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__body {
		padding-bottom: 30px;
		display: none;
		p {
			font-size: 16px;
			line-height: 2;
			margin: 0 0 50px;
			color: #fff;
			font-weight: 500;
		}
	}
}

.blockquote {
	padding: 120px 0 100px;
	background: url('../images/bq-bg.jpg') center / cover no-repeat;
	.before {
		&:before {
			content: url('../images/q.png');
			position: absolute;
			top: -150px;
			left: 15px;
		}
	}
	p {
		font-size: 22px;
		text-transform: uppercase;
		line-height: 1.7;
		margin: 0 0 25px;
		color: #fff;
		font-weight: 600;
	}
	span {
		display: inline-block;
		font-size: 20px;
		line-height: 1;
		margin-bottom: 50px;
		color: #fff;
		width: 100%;
		font-weight: 500;
	}
	img {}
}

.catalog {
	position: relative;
	z-index: 8;
	padding: 120px 0 100px;
	h3 {
		margin-bottom: 100px;
	}
	&__items {
		margin-bottom: 70px;
		line-height: 1;
		p {
			line-height: 1;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			margin-bottom: 20px;
		}
		a {
			font-size: 100px;
			font-weight: 800;
			line-height: 1;
			text-transform: uppercase;
			color: #19306b;
			display: inline;
			background: url('../images/link-out.png') right center / 70px auto no-repeat;
			padding-right: 90px;
			text-shadow: 1px 0px 0px #fff,-1px 0px 0px #fff,0px 1px 0px #fff,0px -1px 0px #fff;
			&:hover {
				color: #ec2538;
				text-shadow: 1px 0px 0px #ec2538,-1px 0px 0px #ec2538,0px 1px 0px #ec2538,0px -1px 0px #ec2538;
				text-decoration: none;
				background: url('../images/link-out-hover.png') right center / 70px auto no-repeat;
			}
		}
	}
}

footer {
	padding: 90px 25px 0;
	position: relative;
	z-index: 2;
	background: url('../images/dot-bgf.jpg') bottom left no-repeat;
	// overflow: hidden;
	a {
		position: relative;
		z-index: 8;
		&.c {
			font-size: 24px;
			font-weight: 500;
			color: #ec2538;
			display: inline-block;
			margin-bottom: 10px;
			color: #fff;
			&+ .c {
				margin-bottom: 30px;
			}
		}
		&.request {
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			background: url('../images/link.png') right center no-repeat;
			font-family: 'Montserrat Alternates';
			font-size: 21px;
			font-weight: 700;
			width: auto;
			flex: 0 0 auto;
			padding-right: 40px;
			margin-top: 60px;
		}
	}
	.bottom {
		margin-top: 220px;
		padding: 40px 0;
		border-top: 3px solid #fff;
		p, a {
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			text-decoration: none !important;
			margin: 0;
			text-transform: uppercase;
		}
		a:hover {
			color: #ec2538;
		}
		position: relative;
		z-index: 2;
	}

	.dot-popup {
		padding: 10px 50px 40px;
		background: #fff url('../images/map-bg.jpg') top right no-repeat;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100% !important;
		strong {
			color: #19306b;
			font-size: 12px;
			font-weight: 600;
			line-height: 1.4;
			display: inline-block;
			margin-bottom: 15px;
			text-transform: uppercase;
			margin-top: 50px;
		}
		p {
			color: #19306b;
			margin-bottom: 10px;
			font-size: 12px;
			font-weight: 600;
			line-height: 1.4;
			display: inline-block;
			width: 100%;
			opacity: 1;
		}
		a {
			display: inline-block;
			color: #19306b;
			font-weight: 600;
			white-space: nowrap;
			&.phone {
				font-size: 18px;
				line-height: 1;
				margin-bottom: 10px;
			}
			&.mail {
				font-size: 12px;
				line-height: 1.4;
			}
			&:hover {
				text-decoration: none;
				color: #ec2538;
			}
		}
	}

	.map {
		position: absolute;
		width: 66%;
		right: 0px;
		bottom: 50px;
		height: 820px;
		background: url('../images/map.png') right center / contain no-repeat;
		z-index: 1;
		min-width: 1210px;
		.dot {
			position: absolute;
			.image {
				width: 44px;
				height: 33px;
				background: url('../images/adress2.svg') center no-repeat;
				margin-right: 10px;
				cursor: pointer;
			}
			p {
				font-size: 14px;
				color: #778abd !important;
				font-weight: 500;
				margin: 0;
				opacity: 1;
				cursor: pointer;
			}
			&.active {
				.dot-popup {
					display: flex;
				}
				p {
					opacity: 1;
					color: #fff;
				}
				.image {
					background: url('../images/adress1.svg') center no-repeat;
				}
			}
			&-popup {
				padding: 60px 50px;
				background: #fff url('../images/map-bg.jpg') top right no-repeat;
				width: 420px !important;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				position: absolute;
				display: none;
				left: -460px;
				bottom: -75px;
				z-index: 5;
				&:after {
					content: url('../images/cn2.png');
					position: absolute;
					bottom: 40px;
					right: -27px;
				}
				strong {
					color: #19306b;
					font-size: 14px;
					font-weight: 600;
					line-height: 1.4;
					display: inline-block;
					margin-bottom: 15px;
					text-transform: uppercase;
					margin-top: 0 !important;
				}
				p {
					color: #19306b;
					margin-bottom: 30px;
					font-size: 14px;
					font-weight: 600;
					line-height: 1.4;
					display: inline-block;
					opacity: 1;
				}
				a {
					display: inline-block;
					color: #19306b;
					font-weight: 600;
					&.phone {
						font-size: 30px;
						line-height: 1;
						margin-bottom: 15px;
					}
					&.mail {
						font-size: 14px;
						line-height: 1.4;
					}
					&:hover {
						text-decoration: none;
						color: #ec2538;
					}
				}
			}
			&.k {
				.dot-popup {
					left: initial;
					right: -460px;
					&:after {
						content: url('../images/cn2.png');
						position: absolute;
						bottom: 40px;
						left: -27px;
						right: initial;
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

.modal {
	.close {
		position: absolute;
		color: #182f6a;
		font-size: 48px;
		font-weight: 400;
		right: 10px;
		top: 0;
		z-index: 1;
		opacity: 1;
	}
	&-body {
		padding: 100px 0;
		text-align: center;
		background: #fff url('../images/fm-bg.jpg') left center / contain no-repeat;
		h3 {
			margin: 0 0 40px;
			font-family: 'Montserrat Alternates';
			font-size: 48px;
			font-weight: 700;
			color: #19306b;
		}
		p {
			color: #19306b;
			font-size: 16px;
			line-height: 1.5;
			margin: 0 0 40px;
		}
		form {
			max-width: 550px;
			padding-left: 25px;
			padding-right: 25px;
			margin: 0 auto;
			input, textarea {
				min-height: 60px;
				font-size: 24px;
				background: none !important;
				border: none;
				border-bottom: 2px solid #182f6a;
				border-radius: 0;
				margin-bottom: 40px;
				outline: none !important;
				box-shadow: none !important;
			}
		}
	}
}

#thanx {
	form {
		margin: 0px;
		padding: 0 20px;
		width: 100%;
		max-width: 100%;
		p {
			margin: 0;
		}
	}
}

.circle {
  display: block;
  position: absolute;
  background-color: transparent;
  z-index: 9;
}

#ptn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.one {
	    opacity:0;
	}
	.a {
		filter: blur(100%);
	}
}

.bbg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	.bgt {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #1a306a;
		filter: blur(8px);
	}
	.bgb {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('../images/pattern.png') center;
	}
}

nav {
	position: fixed;
	z-index: 109;
	top: 0;
	left: 0;
	width: 100%;
	padding: 160px 0;
	background: #fff;
	display: none;
	.close {
		position: absolute;
		top: 30px;
		right: 30px;
		color: #19306b;
		font-size: 40px;
		font-weight: 400;
		opacity: 1;
		&:hover {
			color: #ec2538;
		}
		&:active {
			color: #ec2538;
		}
	}
	ul {
		line-height: 1;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 45px;
		}
		a {
			font-size: 24px;
			font-weight: 500;
			color: #19306b;
			line-height: 1;
			&:hover {
				color: #ec2538;
				text-decoration: none;
			}
		}
	}
	.phone {
		display: inline-block;
		margin-bottom: 45px;
		font-size: 36px;
		font-weight: 500;
		color: #19306b;
		line-height: 1;
	}
	.mail {
		font-size: 24px;
		font-weight: 500;
		color: #19306b;
		line-height: 1;
		display: inline-block;
		margin-bottom: 60px;
	}
}

.nav-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 88;
	background: #19306b;
	opacity: .5;
	display: none;
}