include include/head
body.e404
	.container
		.row
			.col-md-8.ml-auto.mr-auto
				a.logo(href="/"): img(src="assets/images/site/logo404.svg", alt="")
				h1 404
				strong К сожалению страница не найдена
				p Возможно она была удалена или находится в разработке. Вернитесь на главную и попробуйте ещё раз.
				a.btn.btn-primary(href="#") вернуться на главную