include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-about.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 О нас

		.box
			.container.pt-5
				.row
					.col-lg-8
						h4 В работе с нашими партнерами возможен только индивидуальный подход. Мы стремимся оптимально решать поставленные задачи, учитывая особенности каждого клиента.
						p Подбираем и импортируем промышленное оборудование, спецтехнику и комплектующие. За время работы мы охватили 12 производственных направлений, нашими партнерами стали 78 производителей на территории КНР. <br/>Компания располагается в Благовещенске на границе с КНР, где два государства разделяет река Амур, а расстояние между городами Благовещенск и ХэйХэ составляет всего 526 метров.
					.col-lg-3.ml-auto
						div.w50
							h2.mb-2 1278
							p реализованных проектов
						div.w50
							h2.mb-2 78
							p партнёров-производителей в КНР

		.history-main
			.container
				.row
					.col-12.dots
						a.active(href="#" data-id="0") 2009
						a(href="#" data-id="1") 2010
						a(href="#" data-id="2") 2011
						a(href="#" data-id="3") 2012
						a(href="#" data-id="4") 2013
						a(href="#" data-id="5") 2014
						a(href="#" data-id="6") 2015
						a(href="#" data-id="7") 2016
						a(href="#" data-id="8") 2017
						a(href="#" data-id="9") 2018
						a(href="#" data-id="10") 2019
					.col-lg-6
						h2 История развития
						p Больше 10 лет мы помогаем развивать бизнес на территории Российской Федерации
				.row
					.col-lg-6.ml-auto
						.history-pagination
							.prev
							.next
						.history-slider
							.history__item
								strong 2009
								span Начинаем работу
								p Открываем первую компанию и стартуем импорт первых заводов сельскохозяйственного назначения, также активно развиваем направление спецтехники и металлообрабатывающего оборудования. 
							.history__item
								strong 2010
								span Расширяем географию
								p Находим клиентов из Москвы, Липецка, Владивостока, Новосибирска, Омска и других городов, многие из которых становятся постоянными на следующие годы. Понимая высокий спрос в западной части России начинаем реализовывать оборудование и технику по всей России.
							.history__item
								strong 2011
								span Работаем на постоянных клиентов
								p Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество, с некоторыми из этих компаний мы будем работать ближайшие годы на постоянной основе, что большая редкость на рынке. 
							.history__item
								strong 2012
								span Год спецтехники
								p Расширяем географию продаж и ассортимент спецтехники. Реализуем самосвалы, автокраны, асфальтоукладчики, бетононасосы и другую дорожную и строительную технику. Большим спросом пользуется направления строительства, укладки дорог и горной добычи. 
							.history__item
								strong 2013
								span Расширяем ассортимент оборудования
								p Посетив множество выставок разрабатываем дополнительные направления – полиграфическое оборудование, буровое и горно-добывающее оборудование, фильтр-прессы. Уходим в более профессиональную специализацию, для качественной работы по станкам. 
							.history__item
								strong 2014
								span Переходим сквозь кризис
								p Изменение курса юаня более чем на 100 % делает невыгодным многие направления, к примеру металлообработку и спецтехнику. Компании терпят убытки, закрываются. Мы стараемся сохранить свой бизнес и дать возможность сохранить его нашим клиентам.
							.history__item
								strong 2015
								span Новые направления
								p Изменение рынка всегда требует мобильности компании. Мы открываем для себя оборудование для производства пленки и пакетов, оборудование для алмазного бурения, запасные части для насосов, станки для золотодобычи. 
							.history__item
								strong 2016
								span Модернизация
								p Понимая необходимость перемен, мы модернизируем веб-ресурсы, связи внутри компании, открываем дополнительные сайты. Не смотря на низкие показатели интернет статистики имеем большое количества клиентов. Мы работаем на отношение и наши партнеры это понимают.
							.history__item
								strong 2017
								span Профессионализм
								p Посещая множество заводов нам все больше нравится работать с нашими постоянными партнерами в Китае. Мы вкладываем все силы не столько в продвижение товара, сколько в самого производителя, так как товар меняется, а отношения и производитель остается. 
							.history__item
								strong 2018
								span Специализация
								p Мы понимаем, что уровень качества предоставленных услуг и поставленных товаров растет с каждым днем. Мы открываем специализированные отделы по продажам установок алмазного бурения, оборудования для производства пакетов и полиграфического оборудования. 
							.history__item
								strong 2019
								span Новое имя, старые принципы.
								p Мы делаем ребрендинг и объединяем все наши проекты и компании в одну группу, с имеющимся опытом мы уже позиционируем себя не только как поставщика, но и как компанию, осуществляющую комплексное взаимодействие бизнеса с Китаем. 

		.box.geo
			.container
				.row
					.col-12
						h2 География работ
					.col-xl-2.col-lg-4
						strong 232
						p городов в России, география поставок
						strong 46
						p городов в России, география поставок

		.box.pt-0
			.container
				.row
					.col-12
						h2 Компания в лицах
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p.jpg') center / cover no-repeat;")
								.text
									p Лев Попов
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #основатель
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p2.jpg') center / cover no-repeat;")
								.text
									p Иван Попов
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #основатель
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p5.jpg') center / cover no-repeat;")
								.text
									p Марина Сидельникова
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #администратор
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p3.jpg') center / cover no-repeat;")
								.text
									p Алексей Соколов
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #менеджер по продажам
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p4.jpg') center / cover no-repeat;")
								.text
									p Сун Лей
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #менеджер по Китаю

		.footer__link
			a.bg3(href="#"): span Проекты
			a.bg4(href="#"): span Гарантии
			a.bg2(href="#"): span Блог

	include include/footer_inner
	include include/modal