include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page.pb-0
			include include/header_inner

		.white-box
			.container
				.row
					.col-12
						a.back(href="#") Назад в блог
					.col-12.title
						h1.w-100 Длинное название статьи в две строки блог о бизнесе в Китае
						.d-flex.w-100.align-items-end.justify-content-between
							.tag
								a(href="#") Мероприятие
								span 8 сентября 2019
								span &bull;
								span 5 мин читать
							ul
								li: a(href="#") <em class="fab fa-vk"></em> Поделиться
								li: a(href="#") <em class="fab fa-twitter"></em> Твитнуть
								li: a(href="#") <em class="fab fa-facebook-f"></em> Поделиться
					.col-12
						img(src="assets/images/site/article2.jpg", alt="")
					.col-lg-7
						p: b Текст про компанию с ноткой романтизма и подчёркнутого профессионализма. Далее текст с сайта-конкурента. Мы являемся консалтинговой.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						p: b Ноткой романтизма и подчёркнутого профессионализма. Далее текст с сайта-конкурента.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис. Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						blockquote
							p Текст про компанию с ноткой романтизма и подчёркнутого профессионализма консалтинговой
							span Алексей, менеджер по продажам в CHEX
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						.social
							ul
								li: a(href="#") <em class="fab fa-vk"></em> Поделиться
								li: a(href="#") <em class="fab fa-twitter"></em> Твитнуть
								li: a(href="#") <em class="fab fa-facebook-f"></em> Поделиться
					.col-lg-4.ml-auto
						h4.d-none.d-lg-inline-block Топ 5 публикаций
						ul.top.d-none.d-lg-inline-block
							li: a(href="#") Гарантия на оборудование со дня реализации
							li: a(href="#") Импорт оборудования от надежных заводов оборудования название обрудования
							li: a(href="#") Импорт оборудования от надежных заводов оборудования название обрудования
							li: a(href="#") Гарантия на оборудование со дня реализации
							li: a(href="#") Импорт оборудования от надежных заводов оборудования название обрудования
						h4.subs Подписаться
						form
							.form-group
								input.form-control(type="text" placeholder="example@mail.ru")
								p Только полезный контент, без спама
							button.btn.btn-primary Ок

		.box.pb-0
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Похожие публикации
					.col-12
						.similar-slider
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования

		.footer__link
			a.bg1(href="#"): span Услуги
			a.bg4(href="#"): span Гарантии
			a.bg3(href="#"): span Проекты


	include include/footer_inner
	include include/modal