include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-blog.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 Блог о бизнесе в Китае

		.tag
			.container
				.row
					.col-12
						ul
							li: a.active(href="#") Все
							li: a(href="#") Мероприятия
							li: a(href="#") О компании
							li: a(href="#") Оборудование
							li: a(href="#") <em class="fa fa-play"></em> Видео-обзоры

		.box.pt-0
			.container
				.row
					.col-lg-8
						a.blog__item.blog__item--xl(href="#")
							.image(style="background: url('assets/images/site/blog-xl.jpg')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-md-4.d-none.d-lg-inline-block
						h4 Топ 5 публикаций
						ul.top
							li: a(href="#") Гарантия на оборудование со дня реализации
							li: a(href="#") Импорт оборудования от надежных заводов оборудования название обрудования
							li: a(href="#") Импорт оборудования от надежных заводов оборудования название обрудования
							li: a(href="#") Гарантия на оборудование со дня реализации
							li: a(href="#") Импорт оборудования от надежных заводов оборудования название обрудования
				.row
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item.blog__item--video(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span <em class="fa fa-play"></em> Видео-обзоры
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item.blog__item--about(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-xl-4.col-lg-6.col-md-6.col-sm-12
						a.blog__item(href="#")
							.image(style="background: url('assets/images/site/blog.png')")
								span О компании
							.text
								.d-flex
									span 23 сентября 2019 
									span.text-large &bull; 
									span 5 мин читать
								p Импорт оборудования от надежных заводов оборудования
					.col-12
						ul.pagination
							li: a.prev(href="#")
							li: a(href="#") 1
							li: a.active(href="#") 2
							li: a(href="#") 3
							li: a(href="#") 4
							li: a(href="#") 5
							li: span ...
							li: a(href="#") 17
							li: a.next(href="#")

		.box.text.pb-0
			.container
				.row
					.col-12
						h2 SEO заголовок
						p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам! 
						a(href="#" class="spoiler"): span Показать всё 
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!

		.footer__link
			a.bg1(href="#"): span Услуги
			a.bg4(href="#"): span Гарантии
			a.bg3(href="#"): span Проекты

	include include/footer_inner
	include include/modal