include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-catalog.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 Каталоги оборудования
		.box
			.container
				.row
					.col-lg-6
						a.catalog__item(href="#" style="background: url('assets/images/site/cb1.jpg') center / contain no-repeat")
					.col-lg-6
						a.catalog__item(href="#" style="background: url('assets/images/site/cb2.jpg') center / contain no-repeat")
		.box.text.pt-0
			.container
				.row
					.col-12
						h2 SEO заголовок
						p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам! 
						a(href="#" class="spoiler"): span Показать всё 
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!

	include include/footer_inner
	include include/modal