include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0(style="overflow:hidden")
		.header-page(style="background: url('assets/images/site/header-contacts.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 Контакты
		.box.contacts
			.map
				.dot.b.active(style="right:270px;bottom:330px")
					.d-flex.align-items-center
						.image
						p Благовещенск
					.dot-popup
						strong Головной офис
						p Амурская область, г. Благовещенск, ул. Октябрьская, д. 173/1, оф. 610 
						a.phone(href="tel:+79145589938") +7-914-558-99-38
						a.mail(href="mailto:ivan.popov@chex.ru") ivan.popov@chex.ru
				.dot.h(style="right:360px;bottom:280px")
					.d-flex.align-items-center
						.image
						p Хэйхэ
					.dot-popup
						strong Филиал г. Хэйхэ, КНР
						p Провинция Хэйлунцзян, г. Хэйхэ
						a.phone(href="tel:+86-1333-946-12-56") +86-1333-946-12-56
						a.mail(href="mailto:china@chex.ru") china@chex.ru
				.dot.k(style="left:180px;bottom:255px")
					.d-flex.align-items-center
						.image
						p Краснодар
					.dot-popup
						strong Филиал западный
						p Краснодарский край, г. Краснодар, ул. Красных Партизан, д. 393, оф. 601 
						a.phone(href="tel:+7-918-412-02-17") +7-918-412-02-17
						a.mail(href="mailto:leo.popov@chex.ru") leo.popov@chex.ru
			.container(style="z-index: 2")
				.row.align-items-center
					.col-lg-4
						.d-flex.flex-column.align-items-start
							a.c(href="tel:+74162589938") +7 (4162) 58-99-38
							a.c(href="mailto:info@chex.ru") info@chex.ru
							form
								.form-group
									input.form-control#i1(type="text" placeholder="Представьтесь")
								.form-group
									input.form-control#i1(type="text" placeholder="Телефон")
								a.btn.btn-primary(href="#") получить консультацию
								p Нажимая на кнопку, вы соглашаетесь <br/>с обработкой личных данных
					.col-lg-8.d-lg-none
						.slick__dot
							.slick__dot--items
								.dot-popup
									strong Головной офис
									p Амурская область, г. Благовещенск, ул. Октябрьская, д. 173/1, оф. 610 
									a.phone(href="tel:+79145589938") +7-914-558-99-38
									br
									a.mail(href="mailto:ivan.popov@chex.ru") ivan.popov@chex.ru
							.slick__dot--items
								.dot-popup
									strong Филиал г. Хэйхэ, КНР:
									p Провинция Хэйлунцзян, г. Хэйхэ
									a.phone(href="tel:+86-1333-946-12-56") +86-1333-946-12-56
									br
									a.mail(href="mailto:china@chex.ru") china@chex.ru
							.slick__dot--items
								.dot-popup
									strong Филиал западный:
									p Краснодарский край, г. Краснодар, ул. Красных Партизан, д. 393, оф. 601 
									a.phone(href="tel:+7-918-412-02-17") +7-918-412-02-17
									br
									a.mail(href="mailto:leo.popov@chex.ru") leo.popov@chex.ru

	include include/footer_inner
	include include/modal