include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-faq.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						.title-flex
							h1 Частые вопросы
							a.btn.btn-primary(href="#") Задать вопрос
		.box.faq
			.container
				.row
					.col-12
						.faq__wrapper
							.faq__items.active#f1
								a.faq__title(href="#") Как найти в Китае именно то, что мне нужно?
								.faq__body
									p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!
							.faq__items#f2
								a.faq__title(href="#") Как я могу купить то, что не вижу?
								.faq__body
									p Большинство товаров, оборудования и технологий в Китае производится под заказ с учетом всех требований клиента. Для нас с вами главное быть уверенным в самом производителе – а это основной фундамент работы нашей компании. Более 80 % заводов уже сотрудничало с нами и мы знаем их качество, о котором вам расскажем честно, покажем реальные фото и видео. Вы будете знать что именно получите, даже работая под заказ.
							.faq__items#f3
								a.faq__title(href="#") Можно ли не встречаться лично, но начать сотрудничать?
								.faq__body
									p Мы официально зарегистрированная компания, работающая с официально уплачиваемым НДС. Мы заключаем договор, соответствующий всем нормам законодательства РФ. Вы оплачиваете деньги на расчетный счет в надежном банке. В нашей большой стране мобильность – признак современности. Нам достаточно нескольких часов, чтобы оформить договор, получить деньги и отправить их в Китай. Большинство клиентов работает с нами удаленно. И не забывайте, что предоплата чаще всего не более 40 %.
							.faq__items#f4
								a.faq__title(href="#") Кто будет осуществлять доставку, распаковку, монтаж и так далее?
								.faq__body
									p Наша главная цель – взаимовыгодное сотрудничество предпринимателей России и Китая. Мы организовываем взаимодействие между двумя странами и, конечно, привлекаем партнеров для выполнения отдельных этапов. Транспортировку осуществляют крупные транспортные компании с полным страхованием груза, а вот монтаж мы осуществим силами завода-производителя, только если вам он понадобится, это экономит ваши деньги.

		.box.text
			.container
				.row
					.col-12
						h2 SEO заголовок
						p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам! 
						a(href="#" class="spoiler"): span Показать всё 
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!

	include include/footer_inner
	include include/modal