include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-guarantee.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 Гарантии
		.box
			.container
				.row
					.col-lg-8
						h4 Высокий уровень качества обуславливает продолжительную гарантию
						p Мы тщательно рассматриваем немногочисленные случаи поломок – стараемся найти адекватные причины. В случае поломки по вине завода – бесплатно предоставляем комплектующие: корпуса, детали, роторы. Необходимо отметить, что за пятилетнюю историю работы под гарантийный случай попадали только роторы на нескольких установках. С остальными узлами проблем не было. В случае поломки по вине оператора – стараемся обучить правильной работе и по приемлемой цене предлагаем запасные части.
						.row.d-lg-none.d-flex
							.col-md-4
								h3 Все документы
								p В комплекте с оборудованием мы предоставляем инструкции по эксплуатации, гарантийные талоны, каталоги установок
							.col-md-4
								h3 1 год
								p Гарантия на оборудование со дня реализации
							.col-md-4
								h3 3-4 дня
								p Авиа-доставка запасных частей от завода, в случае их отсутствия на складе
						h4 Качество подтверждено документально
						.row.scroll
							.col-xl-4.col-lg-6.col-md-4
								a.cert__items.fancy(href="assets/images/site/cert1.jpg" data-fancybox style="background: url('assets/images/site/cert1.jpg') center / cover no-repeat")
							.col-xl-4.col-lg-6.col-md-4
								a.cert__items.fancy(href="assets/images/site/cert1.jpg" data-fancybox style="background: url('assets/images/site/cert1.jpg') center / cover no-repeat")
							.col-xl-4.col-lg-6.col-md-4
								a.cert__items.fancy(href="assets/images/site/cert1.jpg" data-fancybox style="background: url('assets/images/site/cert1.jpg') center / cover no-repeat")
							.col-xl-4.col-lg-6.col-md-4
								a.cert__items.fancy(href="assets/images/site/cert1.jpg" data-fancybox style="background: url('assets/images/site/cert1.jpg') center / cover no-repeat")
							.col-xl-4.col-lg-6.col-md-4
								a.cert__items.fancy(href="assets/images/site/cert1.jpg" data-fancybox style="background: url('assets/images/site/cert1.jpg') center / cover no-repeat")
					.col-md-3.ml-auto.d-lg-inline-block.d-none
						h3 Все документы
						p В комплекте с оборудованием мы предоставляем инструкции по эксплуатации, гарантийные талоны, каталоги установок
						h3 1 год
						p Гарантия на оборудование со дня реализации
						h3 3-4 дня
						p Авиа-доставка запасных частей от завода, в случае их отсутствия на складе

		.footer__link
			a.bg1(href="#"): span Услуги
			a.bg2(href="#"): span Блог
			a.bg3(href="#"): span Проекты

	include include/footer_inner
	include include/modal