include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-history.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						.title-flex
							h1 Истории успеха
							a.btn.btn-primary(href="#") + добавить историю
		.box
			.container
				.row.history__masonry
					.col-m.col-12
						.history__item
							.history__title
								p Роман Валерьевич, «Магазин Профилей»
								.image: img(src="assets/images/site/h1.png", alt="")
							.history__text
								p Уже 5 или 6 лет работаем с Иваном и Львом, за это время привезли из Китая несколько тысяч тонн рулонной стали. В обстановке жесткой конкуренции хорошие предложения на металл позволили нам удержать цену изделий и остаться в рынке. Также закупили несколько станков для расширения ассортимента. В общем по Китаю теперь все отлажено.
							.history__footer
								.thumbs
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group1" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group1" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group1" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
								.date: p 2 октября 2019
					.col-m.col-xl-6
						.history__item
							.history__title
								p Инна Евгеньевна, <br/>«Амурская Тара»
								.image: img(src="assets/images/site/h1.png", alt="")
							.history__text
								p Мы очень тщательно выбираем поставщиков оборудования – для нас это не просто машины, это часть компании. Сейчас куплено уже 6 станков, все работают стабильно, а от стабильности работы отдела производства зависит успех всего дела. Конечно, благодаря хорошему качеству, приемлемым ценам и индивидуальному подходу мы можем с уверенностью смотреть в будущее и расширять парк оборудования.
							.history__footer
								.thumbs
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group2" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group2" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group2" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
								.date: p 2 октября <br/>2019
					.col-m.col-xl-6
						.history__item
							.history__title
								p Роман Валерьевич, <br/>«Магазин профилей»
								.image: img(src="assets/images/site/h1.png", alt="")
							.history__text
								p Уже 5 или 6 лет работаем с Иваном и Львом, за это время привезли из Китая несколько тысяч тонн рулонной стали. В обстановке жесткой конкуренции хорошие предложения на металл позволили нам удержать цену изделий и остаться в рынке. Также закупили несколько станков для расширения ассортимента. В общем по Китаю теперь все отлажено.
							.history__footer
								.date: p 2 октября <br/>2019
					.col-m.col-xl-6
						.history__item
							.history__title
								p Инна Евгеньевна, <br/>«Амурская Тара»
								.image: img(src="assets/images/site/h1.png", alt="")
							.history__text
								p Мы очень тщательно выбираем поставщиков оборудования – для нас это не просто машины, это часть компании. Сейчас куплено уже 6 станков, все работают стабильно, а от стабильности работы отдела производства зависит успех всего дела. Конечно, благодаря хорошему качеству, приемлемым ценам и индивидуальному подходу мы можем с уверенностью смотреть в будущее и расширять парк оборудования.
							.history__footer
								.thumbs
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group3" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group3" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.more.fancybox(href="assets/images/site/ht1.png" data-fancybox="group3") +3
									a.d-none.fancybox(href="assets/images/site/ht1.png" data-fancybox="group3")
									a.d-none.fancybox(href="assets/images/site/ht1.png" data-fancybox="group3")
								.date: p 2 октября <br/>2019
					.col-m.col-xl-6
						.history__item
							.history__title
								p Инна Евгеньевна, <br/>«Амурская Тара»
								.image: img(src="assets/images/site/h1.png", alt="")
							.history__text
								p Мы очень тщательно выбираем поставщиков оборудования – для нас это не просто машины, это часть компании. Сейчас куплено уже 6 станков, все работают стабильно, а от стабильности работы отдела производства зависит успех всего дела. Конечно, благодаря хорошему качеству, приемлемым ценам и индивидуальному подходу мы можем с уверенностью смотреть в будущее и расширять парк оборудования.
							.history__footer
								.thumbs
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group5" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.image.fancybox(href="assets/images/site/ht1.png" data-fancybox="group5" style="background: url('assets/images/site/ht1.png') center / cover no-repeat")
									a.more.fancybox(href="assets/images/site/ht1.png" data-fancybox="group5") +3
									a.d-none.fancybox(href="assets/images/site/ht1.png" data-fancybox="group5")
									a.d-none.fancybox(href="assets/images/site/ht1.png" data-fancybox="group5")
								.date: p 2 октября <br/>2019
				.row
					.col-12
						ul.pagination
							li: a.prev(href="#")
							li: a(href="#") 1
							li: a.active(href="#") 2
							li: a(href="#") 3
							li: a(href="#") 4
							li: a(href="#") 5
							li: span ...
							li: a(href="#") 17
							li: a.next(href="#")

		.box.text.pb-0
			.container
				.row
					.col-12
						h2 SEO заголовок
						p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам! 
						a(href="#" class="spoiler"): span Показать всё 
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!

		.footer__link
			a.bg1(href="#"): span Услуги
			a.bg4(href="#"): span Гарантии
			a.bg3(href="#"): span Проекты

	include include/footer_inner
	include include/modal