include include/head
body

	include include/header_inner
	include include/nav__inner
	
	main.pl-0.pr-0
		.header.header__inner-main
			.slick-dots-header
			.container
				.row
					.col-12
						.slick__header
							.slick__header--items
								span Промышленное оборудование <br/>и&nbsp;бизнес-сопровождение ваших проектов в&nbsp;Китае
								h1 Опытная русская команда&#8194;<br/>откроет дверь в <span>Китай</span>&#8194;<br/>вашему бизнесу.
								p Охватываем главную тему, плюс общую идею бизнес-сопровождения. Простым языком доводим направление работы.
							.slick__header--items
								span Импорт и&nbsp;экспорт
								h1 Юридически безопасный&#8194;<br/>импорт и <span>бизнес</span>-решения&#8194;<br/>по экспорту
								p Охватываем основные 2&nbsp;пути работы с&nbsp;Китаем. Делаем акцент на&nbsp;гарантии, юридической безопасности и&nbsp;возможностей к&nbsp;экспорту.
							.slick__header--items
								span Снабжение производств <br/>и&nbsp;сопровождение проектов под ключ
								h1 Организуем комплексное <br/>взаимодействие бизнеса <br/>России и <span>Китая</span>
								p от продажи оборудования переходим к&nbsp;снабжению и&nbsp;говорим о&nbsp;сопровождении любых проектов. Говорим об «организации контракта» как о&nbsp;основной возможности компании.
				.row.align-items-center
					.col-md-6
						a.btn.btn-primary(href="#") оставить заявку
					.col-md-6.d-none.d-md-inline-block
						.slick__header-pagination
							.prev: img(src="assets/images/arrow-prev.svg", alt="")
							.next: img(src="assets/images/arrow-next.svg", alt="")

		.white-box
			.container
				.row
					.col-12.title
						h1 Услуги
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 01
							strong Импорт оборудования от надежных заводов
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 02
							strong Организация бизнес-поездок на заводы и выставки России и Китая
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 03
							strong Поиск и выбор ответственных производителей в Китае
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 04
							strong Комплексное сопровождение экспорта Русской продукции
							p Оказываем весь спектр услуг для отечественных производителей от консалтинга и упаковки бренда, до экспорта продукции от лица своей компании. 
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 05
							strong Помощь в юридических аспектах в работе с Китаем
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков

		.box.pb-0
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							.d-flex.align-items-end.justify-content-start.fw
								h2 Недавние проекты
								a.all.ml-4(href="#" style="margin-bottom: 75px;") смотреть все
							.project-pagination
								.prev: img(src="assets/images/arrow-prev.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next.svg", alt="")
					.col-12
						.project-slider
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск

		.advantages.advantages__inner#advantages
			.container
				.row
					.col-12.text-center
						h3 Почему вам выгодно работать с&nbsp;нами
					.col-12.d-none.d-lg-inline-block
						ul.nav.nav-pills.justify-content-between#av-tab
							li.nav-item: a.nav-link.active(href="#a1" data-toggle="tab") Ценовая <br/>политика
							li.nav-item: a.nav-link(href="#a2" data-toggle="tab") Надежность <br/>и уверенность
							li.nav-item: a.nav-link(href="#a3" data-toggle="tab") Мобильность <br/>и активность
							li.nav-item: a.nav-link(href="#a4" data-toggle="tab") Принципиальность <br/>в нашем ДНК
						.tab-content#av-content
							.tab-pane.fade.show.active#a1 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a4" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a1.png", alt="")
										strong Оптимальная ценовая политика
										p Мы предлагаем качество <br/>по&nbsp;конкурентоспособным ценам.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a2" data-toggle="tab")
							.tab-pane.fade#a2 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a1" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a2.png", alt="")
										strong Надежность и уверенность
										p Вы можете быть уверены в&nbsp;юридической <br/>чистоте и&nbsp;гарантии сделки.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a3" data-toggle="tab")
							.tab-pane.fade#a3 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a2" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a3.png", alt="")
										strong Мобильность и&nbsp;активность
										p Мы исследуем рынок Китая и знаем где, <br/>когда и&nbsp;с&nbsp;кем лучше взаимодействовать в&nbsp;настоящий момент времени.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a4" data-toggle="tab")
							.tab-pane.fade#a4 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a3" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a4.png", alt="")
										strong Принципиальность в нашем ДНК
										p В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для нас больше, чем просто слова.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a1" data-toggle="tab")
					.col-12.d-inline-block.d-lg-none
						.advantages__items
							strong Оптимальная ценовая политика
							p Мы предлагаем качественное оборудование по&nbsp;конкурентоспособным ценам
						.advantages__items
							strong Надежность и&nbsp;уверенность
							p Вы можете быть уверены в&nbsp;оказании качественных услуг до&nbsp;самого момента запуска станка в&nbsp;работу.
						.advantages__items
							strong Мобильность и&nbsp;активность
							p Мы контролируем производителей и&nbsp;знаем где, когда и&nbsp;у&nbsp;кого лучше приобретать оборудование в&nbsp;настоящий момент времени
						.advantages__items
							strong Принципиальность в&nbsp;нашем ДНК
							p В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для&nbsp;нас больше, чем просто слова. 

		.white-box.mb-0
			.container
				.row
					.col-12.title.mt-0.mb-0
						.d-flex.w-100.align-items-center.justify-content-between
							.d-flex.align-items-end.justify-content-start.fw
								h2 Блог о бизнесе в Китае
								a.all.ml-4(href="#" style="margin-bottom: 65px;") читать весь
							.blog-pagination
								.prev: img(src="assets/images/arrow-prev-blue.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next-blue.svg", alt="")
					.col-12
						.blog-slider
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования


		.personal.personal__inner#personal
			.container
				.row
					.col-12
						.d-flex.justify-content-between
							h3 Компания в лицах
							.personal__count 01 - 03
			.container-fluid
				.row
					.col-xl-8.col-lg-10.ml-auto
						.slick__personal
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p.jpg') center / cover no-repeat;")
									p Лев Попов
								p #основатель
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p2.jpg') center / cover no-repeat;")
									p Иван Попов
								p #основатель
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p5.jpg') center / cover no-repeat;")
									p Марина Сидельникова
								p #администратор
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p3.jpg') center / cover no-repeat;")
									p Алексей Соколов
								p #менеджер по продажам
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p4.jpg') center / cover no-repeat;")
									p Сун Лей
								p #менеджер по Китаю

			.container
				.row
					.col-12
						.d-flex.align-items-center.justify-content-end
							.personal__prev.fa.fa-angle-right
							.personal__next.fa.fa-angle-left

		.catalog#catalog
			.container
				.row
					.col-12
						h3 Наши каталоги
					.col-12
						.catalog__items
							p Оборудование для&nbsp;производства&nbsp;пакетов
							a(href="http://importpack.ru" target="_blank") importpack.ru
						.catalog__items
							p Оборудование для&nbsp;алмазного&nbsp;бурения
							a(href="http://redbur.ru" target="_blank") redbur.ru

	include include/footer_inner
	include include/modal