include include/head
body
	svg#ptn(width="100%" height="100%")
		defs
			pattern#img1(patternUnits="userSpaceOnUse" width="450" height="450")
				image(xlink:href="./assets/images/pattern.png" x="0" y="0" width="450" height="450")
			filter(id="f1" x="-50%" y="-50%" width="200%" height="200%")
				feGaussianBlur(stdDeviation="5")
		filter(id="feOffset" x="0" y="0" width="300" height="300")
			feOffset(in="SourceGraphic" dx="0" dy="0")
			feGaussianBlur(stdDeviation="20" result="blur2" in="SourceAlpha")
			feMerge
				feMergeNode(in="blur2")
				feMergeNode(in="SourceGraphic")
		clippath#clip
			circle(cx="50" cy="50" r="200" class="a")
		rect(width="100%" height="100%" x="0" y="0" class="one")
		g()
			g(clip-path="url(#clip)")
				rect(width="100%" height="100%" x="0" y="0" fill="url(#img1)")

	.bbg
		.bgt
		.bgb#masked

	include include/header
	include include/nav
	
	main
		.header
			.slick-dots-header
			.slick__header-pagination.d-none
				.prev: img(src="assets/images/arrow-prev.svg", alt="")
				.next: img(src="assets/images/arrow-next.svg", alt="")
			.container
				.row
					.col-12
						.slick__header
							.slick__header--items
								span Промышленное оборудование <br/>и&nbsp;бизнес-сопровождение ваших проектов в&nbsp;Китае
								h1 Опытная русская команда&#8194;<br/>откроет дверь в <span>Китай</span>&#8194;<br/>вашему бизнесу.
								p Охватываем главную тему, плюс общую идею бизнес-сопровождения. Простым языком доводим направление работы.
							.slick__header--items
								span Импорт и&nbsp;экспорт
								h1 Юридически безопасный&#8194;<br/>импорт и <span>бизнес</span>-решения&#8194;<br/>по экспорту
								p Охватываем основные 2&nbsp;пути работы с&nbsp;Китаем. Делаем акцент на&nbsp;гарантии, юридической безопасности и&nbsp;возможностей к&nbsp;экспорту.
							.slick__header--items
								span Снабжение производств <br/>и&nbsp;сопровождение проектов под ключ
								h1 Организуем комплексное <br/>взаимодействие бизнеса <br/>России и <span>Китая</span>
								p от продажи оборудования переходим к&nbsp;снабжению и&nbsp;говорим о&nbsp;сопровождении любых проектов. Говорим об «организации контракта» как о&nbsp;основной возможности компании.

					.col-lg-4
						a.request(href="#callback" data-toggle="modal") Подать заявку
					.col-8.text-right
						a(href="#catalog") Выбор товара
						a(href="#work") Принципы работы
						a(href="#advantages") Условия работы

		.project#project
			.container
				.row
					.col-12
						h2 Реализованные <br/>проекты
				.row.align-items-end
					.col-lg-auto.ml-auto
						.project-ntext
							p Помогаем строить бизнес с Китайскими партнёрами. Наш опыт <br/>— более 10 лет. Находим промышленное оборудование, решаем <br/>проблемы с официальной логистикой и таможней, предоставляем <br/>технологичные решения и комплексное снабжение для вашего <br/>производства. Если вам неудобно находиться в Китае, <br/>сотрудничаем удалённо.
							.w-100.text-right
								a.btn.btn-primary(href="#callback" data-toggle="modal") Оставить заявку
				.row
					.col-12.d-inline-block.d-md-none
						select#year(name="")
							option(value="2019") 2019
							option(value="2018") 2018
							option(value="2017") 2017
							option(value="2016") 2016
							option(value="2015") 2015
							option(value="2014") 2014
							option(value="2013") 2013
							option(value="2012") 2012
							option(value="2011") 2011
							option(value="2010") 2010
							option(value="2009") 2009
					.col-12
						.tab-content#pills-tabContent

							.tab-pane.fade.show.active#y2019
								.project__pag
									.project__prev.p_prev-2019
									.project__count 01/05
									.project__next.p_next-2019
								.slick__year.slick__2019
									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p1.jpg) center / cover no-repeat")
											strong Лазерно-гравировальный станок
											p Амурская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p2.jpg) center / cover no-repeat")
											strong Пакетоделательная машина SHXJ-1000
											p Уссурийск
									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p3.jpg) center / cover no-repeat")
											strong Флексографическая печатная машина ZBS-320
											p Саратовская область

									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p4.jpg) center / cover no-repeat")
											strong Лазерная трубка, мощностью 600 Вт
											p Екатеринбург
									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p5.jpg) center / cover no-repeat")
											strong Устройство для складывания пленок
											p Курск
									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p6.jpg) center / cover no-repeat")
											strong Мини экструдер для производства рукава из гранул HDPE и LDPE
									.slick__year--items
										a.fancybox(href="assets/images/project/2019/p7.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2019/p7.jpg) center / cover no-repeat")
											strong Комплект оборудования для производства пакетов
											p Приморский край
								.project__pag.d-none
									.project__prev.p_prev-2019
									.project__count 01/05
									.project__next.p_next-2019

							.tab-pane.fade#y2018
								.project__pag
									.project__prev.p_prev-2018
									.project__count 01/05
									.project__next.p_next-2018
								.slick__year.slick__2018
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p1.jpg) center / cover no-repeat")
											strong Машина для производства пакетов майка и фасовка.
											p Благовещенск
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p2.jpg) center / cover no-repeat")
											strong Высокоскоростная машина для производства вакуумных пакетов.
											p Екатеринбург
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p3.jpg) center / cover no-repeat")
											strong Падди-сепаратор.
											p Краснодарский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p4.jpg) center / cover no-repeat")
											strong Двухвинтовой гранулятор, для вторичной переработки отходов HDPE и LDPE.
											p Москва
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p5.jpg) center / cover no-repeat")
											strong Машина для производства пакетов с донным швом, шириной до 1600 мм.
											p Московская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p6.jpg) center / cover no-repeat")
											strong Машина для производства пакетов с донным швом, шириной до 1100 мм.
											p Новгородская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p7.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p7.jpg) center / cover no-repeat")
											strong Машина для производства пакетов с донным швом, шириной до 1600 мм.
											p Санкт-Петербург
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p8.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p8.jpg) center / cover no-repeat")
											strong Плоскощелевая экструзионная голова, для производства PVB пленок.
											p Саратовская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2018/p9.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2018/p9.jpg) center / cover no-repeat")
											strong Промышленная воздуходувка высокого давления
											p Челябинск
								.project__pag.d-none
									.project__prev.p_prev-2018
									.project__count 01/05
									.project__next.p_next-2018
							.tab-pane.fade#y2017
								.project__pag
									.project__prev.p_prev-2017
									.project__count 01/05
									.project__next.p_next-2017
								.slick__year.slick__2017
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p1.jpg) center / cover no-repeat")
											strong Линия для осушения бурого угля
											p Амурская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p2.jpg) center / cover no-repeat")
											strong Двухвинтовой гранулятор для вторичной грануляции отходов HDPE и LDPE.
											p Благовещенск
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p3.jpg) center / cover no-repeat")
											strong Машина для производства пакетов майка и фасовка, шириной до 950 мм.
											p Благовещенск
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p4.jpg) center / cover no-repeat")
											strong Полировочные валы для рисообрабатывающего завода.
											p Краснодарский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p5.jpg) center / cover no-repeat")
											strong Сортировщик семян риса по цветам.
											p Краснодарский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p6.jpg) center / cover no-repeat")
											strong Комплект запасных частей для шламовых насосов (передний и задний бронедиски, рабочее колесо, футеровка улиты).
											p Красноярск
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p7.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p7.jpg) center / cover no-repeat")
											strong Флексографическая печатная машина ZBS-620 (5 цветов).
											p Курск
									.slick__year--items
										a.fancybox(href="assets/images/project/2017/p8.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2017/p8.jpg) center / cover no-repeat")
											strong Сортировщик семян пшеницы по цветам.
											p Ростов-на-дону
								.project__pag.d-none
									.project__prev.p_prev-2017
									.project__count 01/05
									.project__next.p_next-2017

							.tab-pane.fade#y2016
								.project__pag
									.project__prev.p_prev-2016
									.project__count 01/05
									.project__next.p_next-2016
								.slick__year.slick__2016
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p1.jpg) center / cover no-repeat")
											strong Автоматический гибочный станок для штанцевальных линеек.
											p Екатеринбург
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p2.jpg) center / cover no-repeat")
											strong Флексографическая печатная машина, вертикального построения, UV сушки, 6 цветов, ширина материала до 320 мм.
											p Екатеринбург
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p3.jpg) center / cover no-repeat")
											strong Станок плазменной резки металла, портального типа с ЧПУ.
											p Комсомольск-на-Амуре
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p4.jpg) center / cover no-repeat")
											strong Запасные части для шламовых насосов.
											p Красноярск
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p5.jpg) center / cover no-repeat")
											strong Концентрационные столы.
											p Красноярский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p6.jpg) center / cover no-repeat")
											strong Печь для плавки алюминия.
											p Новосибирск
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p7.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p7.jpg) center / cover no-repeat")
											strong Дробильно-сортировочный комплекс.
											p Республика Якутия
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p8.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p8.jpg) center / cover no-repeat")
											strong Комплект оборудования для производства пакетов.
											p Свердловская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2016/p9.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2016/p9.jpg) center / cover no-repeat")
											strong Машина для продольной резки полимерных пленок.
											p Свердловская область
								.project__pag.d-none
									.project__prev.p_prev-2016
									.project__count 01/05
									.project__next.p_next-2016

							.tab-pane.fade#y2015
								.project__pag
									.project__prev.p_prev-2015
									.project__count 01/05
									.project__next.p_next-2015
								.slick__year.slick__2015
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p1.jpg) center / cover no-repeat")
											strong Гидравлический листогиб с ЧПУ.
											p Амурская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p2.jpg) center / cover no-repeat")
											strong Металлопрокатные линии для производства профлдиста C8 и H44.
											p Благовещенск
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p3.jpg) center / cover no-repeat")
											strong Партия металлопроката, 160 тонн.
											p Благовещенск. 
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p4.jpg) center / cover no-repeat")
											strong Комплесное оснащение завода по переработки риса.
											p Краснодарский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p5.jpg) center / cover no-repeat")
											strong Оборудования для сортировки риса - Падди-сепаратор.
											p Краснодарский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p6.jpg) center / cover no-repeat")
											strong Флексографическая печатная машина, модель ZBS-450 (5 цветов).
											p Курск
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p7.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p7.jpg) center / cover no-repeat")
											strong Бетононасос с&nbsp;комплектом труб.
											p Сахалин
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p8.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p8.jpg) center / cover no-repeat")
											strong Металлопрокатная линия для производства профлиста C8.
											p Свердловская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2015/p9.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2015/p9.jpg) center / cover no-repeat")
											strong Вилочный погрузчик HELI, грузоподъемность 3 тонны.
											p Хабаровск
								.project__pag.d-none
									.project__prev.p_prev-2015
									.project__count 01/05
									.project__next.p_next-2015

							.tab-pane.fade#y2014
								.project__pag
									.project__prev.p_prev-2014
									.project__count 01/05
									.project__next.p_next-2014
								.slick__year.slick__2014
									.slick__year--items
										a.fancybox(href="assets/images/project/2014/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2014/p1.jpg) center / cover no-repeat")
											strong Вилочный погрузчик HELI, грузоподъемность 3&nbsp;тонны.
											p Амурская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2014/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2014/p2.jpg) center / cover no-repeat")
											strong Комплект несъемной опалубки для строительства трехэтажного жилого дома.
											p Республика Якутия
									.slick__year--items
										a.fancybox(href="assets/images/project/2014/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2014/p3.jpg) center / cover no-repeat")
											strong Металлопрокатные линии для производства металлочерепицы и профлиста.
											p Свердловская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2014/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2014/p4.jpg) center / cover no-repeat")
											strong Грузовые электротележки, грузоподъемность 2000&nbsp;кг.
											p Сочи
									.slick__year--items
										a.fancybox(href="assets/images/project/2014/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2014/p5.jpg) center / cover no-repeat")
											strong Вилочный погрузчик с боковой погрузкой
											p Хабаровск
									.slick__year--items
										a.fancybox(href="assets/images/project/2014/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2014/p6.jpg) center / cover no-repeat")
											strong Полуприцеп-цистерна для транспортировки ГСМ.
											p Якутск
								.project__pag.d-none
									.project__prev.p_prev-2014
									.project__count 01/05
									.project__next.p_next-2014

							.tab-pane.fade#y2013
								.project__pag
									.project__prev.p_prev-2013
									.project__count 01/05
									.project__next.p_next-2013
								.slick__year.slick__2013
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p1.jpg) center / cover no-repeat")
											strong Бетонный завод.
											p Амурская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p2.jpg) center / cover no-repeat")
											strong Погрузчик-экскаватор XCMG WZ30-25
											p Благовещенск
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p3.jpg) center / cover no-repeat")
											strong Дробильно-сортировочный комплекс.
											p Нерюнгри
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p4.jpg) center / cover no-repeat")
											strong Бетонанос SANY HBT6006.
											p Нижнебурейская ГЭС
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p5.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p5.jpg) center / cover no-repeat")
											strong Асфальтоукладчик XCMG RP452L
											p Республика Якутия
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p6.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p6.jpg) center / cover no-repeat")
											strong Двухвальцевый вибрационный каток XCMG XD111.
											p Республика Якутия
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p7.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p7.jpg) center / cover no-repeat")
											strong Оборудование для сортировки риса Падди-сепаратор.
											p Ростовская область
									.slick__year--items
										a.fancybox(href="assets/images/project/2013/p8.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2013/p8.jpg) center / cover no-repeat")
											strong Вилочный погрузчик HELI CPCD100. Дизельный, грузоподъемность 10 тонн.
											p Хабаровск
								.project__pag.d-none
									.project__prev.p_prev-2013
									.project__count 01/05
									.project__next.p_next-2013

							.tab-pane.fade#y2012
								.project__pag
									.project__prev.p_prev-2012
									.project__count 01/05
									.project__next.p_next-2012
								.slick__year.slick__2012
									.slick__year--items
										a.fancybox(href="assets/images/project/2012/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2012/p1.jpg) center / cover no-repeat")
											strong Бетонный завод.
											p Благовещенск
									.slick__year--items
										a.fancybox(href="assets/images/project/2012/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2012/p2.jpg) center / cover no-repeat")
											strong Оборудования для сортировки риса - Падди-сепаратор.
											p Краснодар
									.slick__year--items
										a.fancybox(href="assets/images/project/2012/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2012/p3.jpg) center / cover no-repeat")
											strong Партия самосвавлов SHACKMAN, 25 штук.
											p Липецк
									.slick__year--items
										a.fancybox(href="assets/images/project/2012/p4.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2012/p3.jpg) center / cover no-repeat")
											strong Весовыбойная машина с зашивочным узлом.
											p Ростов-на-Дону
								.project__pag.d-none
									.project__prev.p_prev-2012
									.project__count 01/05
									.project__next.p_next-2012

							.tab-pane.fade#y2011
								.project__pag
									.project__prev.p_prev-2011
									.project__count 01/05
									.project__next.p_next-2011
								.slick__year.slick__2011
									.slick__year--items
										a.fancybox(href="assets/images/project/2011/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2011/p1.jpg) center / cover no-repeat")
											strong Комплект оборудования для переработки зерновых культур.
											p Краснодарский край
									.slick__year--items
										a.fancybox(href="assets/images/project/2011/p2.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2011/p2.jpg) center / cover no-repeat")
											strong Фронтальный погрузчик LW500F
											p Липецк
									.slick__year--items
										a.fancybox(href="assets/images/project/2011/p3.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2011/p3.jpg) center / cover no-repeat")
											strong Схемы управления оборудованием для вытягивания проволоки
											p Хабаровск
								.project__pag.d-none
									.project__prev.p_prev-2011
									.project__count 01/05
									.project__next.p_next-2011

							.tab-pane.fade#y2010
								.slick__year.slick__2010
									.slick__year--items
										a.fancybox(href="assets/images/project/2010/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2010/p1.jpg) center / cover no-repeat")
											strong Комплект телекоммуникационного оборудования.
											p Москва

							.tab-pane.fade#y2009
								.slick__year.slick__2009
									.slick__year--items
										a.fancybox(href="assets/images/project/2009/p1.jpg")
											.image(style="width: 100%; height: 310px; background: url(assets/images/project/2009/p1.jpg) center / cover no-repeat")
											strong Завод по переработке риса, производительность 60&nbsp;тонн.
											p Краснодар
						
						ul.nav.nav-pills#pills-tab
							li.nav-item: a.nav-link.active(href="#y2019" data-toggle="tab") 2019
							li.nav-item: a.nav-link(href="#y2018" data-toggle="tab") 2018
							li.nav-item: a.nav-link(href="#y2017" data-toggle="tab") 2017
							li.nav-item: a.nav-link(href="#y2016" data-toggle="tab") 2016
							li.nav-item: a.nav-link(href="#y2015" data-toggle="tab") 2015
							li.nav-item: a.nav-link(href="#y2014" data-toggle="tab") 2014
							li.nav-item: a.nav-link(href="#y2013" data-toggle="tab") 2013
							li.nav-item: a.nav-link(href="#y2012" data-toggle="tab") 2012
							li.nav-item: a.nav-link(href="#y2011" data-toggle="tab") 2011
							li.nav-item: a.nav-link(href="#y2010" data-toggle="tab") 2010
							li.nav-item: a.nav-link(href="#y2009" data-toggle="tab") 2009

		.services#services
			.container
				.row
					.col-12
						h2 Услуги
					.col-12
			#s1.services__items.active
				.container
					.row
						.col-12
							a.services__title(href="#") Импорт оборудования от надежных заводов
							.services__body
								.row
									.col-lg-5.ml-auto.pl-0
										.services__image(style="background:#efefef url('assets/images/serv1.jpg') center / cover no-repeat")
									.col
										.services__swrapper
											.services__scroll.spoiler
												p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков, имеем опыт работы с более чем 500 заводами, ежедневно получаем актуальную информацию из Китая.
												p Сделка – это начало работы, а не результат. Мы контролируем весь процесс с момента проектировки и производства оборудования до момента пробного пуска в эксплуатацию.
											a.show-more.d-sm-none Показать больше
			#s2.services__items
				.container
					.row
						.col-12
							a.services__title(href="#") Организация бизнес-поездок на заводы и выставки России и Китая
							.services__body
								.row
									.col-lg-5.ml-auto.pl-0
										.services__image(style="background:#efefef url('assets/images/serv.jpg') center / cover no-repeat")
									.col-lg
										.services__swrapper
											.services__scroll.spoiler
												p Переговоры – великая культура заложенная в ДНК восточной философии бизнеса. Мы обладаем нужными навыками и знаниями для достижения максимальной эффективности. Лучшие результаты достигаются только путем личного общения и взаимодействия.
												p Успех проекта есть итог длительных, трудных и интересных переговоров на выставках, в командировках, личных встречах и официальных приемах. Мы используем все возможности для улучшения взаимодействия китайских и российских предпринимателей.
											a.show-more.d-sm-none Показать больше
			#s3.services__items
				.container
					.row
						.col-12
							a.services__title(href="#") Поиск и выбор ответственных производителей в Китае
							.services__body
								.row
									.col-lg-5.ml-auto.pl-0
										.services__image(style="background:#efefef url('assets/images/serv3.jpg') center / cover no-repeat")
									.col-lg
										.services__swrapper
											.services__scroll.spoiler
												p Тысячи заводов расположенные на территории материкового Китая производят большинство существующих в мире видов продукции, товаров и технологий. Анализ производителей проводится по 15 пунктам, в числе которых юридические и налоговые данные, анализ финансовых рисков, регионы сбыта и другая информация позволяющая выбрать надежного партнера для долгосрочного сотрудничества.
											a.show-more.d-sm-none Показать больше
			#s4.services__items
				.container
					.row
						.col-12
							a.services__title(href="#") Комплексное сопровождение экспорта Русской продукции
							.services__body
								.row
									.col-lg-5.ml-auto.pl-0
										.services__image(style="background:#efefef url('assets/images/serv4.jpg') center / cover no-repeat")
									.col-lg
										.services__swrapper
											.services__scroll.spoiler
												p Мы оказываем весь спектр услуг для отечественных производителей от консалтинга и упаковки бренда, до экспорта продукции от лица своей компании. Растущие объемы экспорта говорят о необходимости постоянной модернизации и мобилизации товарного ассортимента для выхода на китайский рынок. Каждый производитель может внести изменения в свою продукцию и, имея юридическую защиту, выйти на рынок с максимальной выгодой.
											a.show-more.d-sm-none Показать больше
			#s5.services__items
				.container
					.row
						.col-12
							a.services__title(href="#") Помощь в юридических аспектах в работе с Китаем
							.services__body
								.row
									.col-lg-5.ml-auto.pl-0
										.services__image(style="background:#efefef url('assets/images/serv5.jpg') center / cover no-repeat")
									.col-lg
										.services__swrapper
											.services__scroll.spoiler
												p Движение товаров, материалов и оборудования, как в сторону импорта, так и экспорта, сопровождается целым набором юридических услуг и документации. Мы оказываем все виды услуг, которые необходимы для работы с Китаем:
												p - услуги перевода технической документации
												p - составление и проверка международных контрактов
												p - валютный контроль ВЭД
												p - таможенное регулирование
												p - получение сертификатов и регистрация торговых марок
											a.show-more.d-sm-none Показать больше

		.about#about
			.container
				.text-m730
					h2.text-center Познакомимся?
					.spoiler
						p Наша компания располагается в Благовещенске на границе с КНР, <br/>где два государства разделяет река Амур, а расстояние между городами Благовещенск и ХэйХэ составляет всего 526 метров.
						p Больше десяти лет мы помогаем развивать бизнес на территории Российской&nbsp;Федерации, подбираем и импортируем промышленное оборудование, спецтехнику и комплектующие. За время работы мы охватили 12&nbsp;производственных направлений, нашими партнерами стали 78&nbsp;производителей на территории КНР.
					a.show-more.d-sm-none Показать больше
				.row
					.col-xl-5.col-md-6.ml-auto
						.d-flex.align-items-center.justify-content-center
							strong.stroked 1278
							p реализоанных&#8194;<br/>проектов
					.col-xl-5.col-md-6.mr-auto
						.d-flex.align-items-center.justify-content-center
							strong 46
							p городов в России,&#8194;<br/>география&#8194;<br/>поставок
				.text-m730
					p В работе с нашими партнерами возможен только индивидуальный подход. Мы&nbsp;стремимся оптимально решать поставленные задачи, учитывая особенности каждого клиента.

		.work#work
			.container
				.row
					.col-12
						h3 Принципы работы
				.row.align-items-stretch
					.col-md-5.pos-r
						.work__hovered
							strong Доступность
							p Мы на расстоянии вытянутой руки – всегда на&nbsp;связи, всегда готовы выслушать и&nbsp;рассмотреть предложения. За&nbsp;каждым заказчиком закреплен личный менеджер с&nbsp;прямыми контактами и&nbsp;доступом. В&nbsp;любой момент Вы будете в&nbsp;курсе событий.
							.image: img(src="assets/images/w1.png", alt="")
						.work__title
							p Слово должно быть <br/>верным, действие должно <br/>быть решительным.
							span Конфуций 
							img(src="assets/images/w.png", alt="")
					.col-md-7
						.d-flex.work__wrap
							.work__items(data-text="Мы открыты для наших партнеров как со\u00A0стороны России, так и\u00A0Китая. Мы легко участвуем в\u00A0российских выставках с\u00A0Китайскими заводами и\u00A0легко посещаем Китай совместно с\u00A0заказчиками. Мы уверены в\u00A0наших партнерах и\u00A0сотрудничестве с\u00A0ними.")
								.icon: img(src="assets/images/w1.png", alt="")
								.text Открытость
							.work__items(data-text="Мы несем ответственность за\u00A0качество выпущенной на\u00A0заводе продукции, за\u00A0качество услуг транспортной компании, за\u00A0качество экспортера и\u00A0перевозчика, за\u00A0скорость работы таможенного инспектора, даже за\u00A0водителя, направляющегося к\u00A0Вам, ведь мы выбрали для Вас этих людей. И\u00A0главное мы несем ответственность перед Вами.")
								.icon: img(src="assets/images/w2.png", alt="")
								.text Ответственность
							.work__items(data-text="Мы на расстоянии вытянутой руки –\u00A0всегда на\u00A0связи, всегда готовы выслушать и\u00A0рассмотреть предложения. За\u00A0каждым заказчиком закреплен личный менеджер с\u00A0прямыми контактами и\u00A0доступом. В\u00A0любой момент Вы будете в\u00A0курсе событий.")
								.icon: img(src="assets/images/w3.png", alt="")
								.text Доступность
							.work__items(data-text="Что важнее: скорость или\u00A0качество? Цена или\u00A0сохранность? Мы индивидуально рассматриваем каждого клиента и, согласно его предпочтениям, осуществляем сделку. «Медленно, но\u00A0верно» или «полмира за\u00A02\u00A0дня» – главное понять необходимость и\u00A0сделать свою работу качественно. ")
								.icon: img(src="assets/images/w4.png", alt="")
								.text Своевременность
							.work__items(data-text="В числе наших клиентов и\u00A0ИП, и\u00A0крупные общества, частные предприниматели и\u00A0государственные корпорации –\u00A0все со\u00A0своими особенностями и\u00A0документооборотом. Мы не\u00A0рисуем портреты клиентов на\u00A0графиках – мы просто работаем и\u00A0с\u00A0пониманием относимся к\u00A0каждому. ")
								.icon: img(src="assets/images/w5.png", alt="")
								.text Индивидуальный подход

		.personal#personal
			.container
				.row
					.col-12
						.d-flex.justify-content-between
							h3 Компания в лицах
							.personal__count 01 - 03
			.container-fluid
				.row
					.col-xl-8.col-lg-10.ml-auto
						.slick__personal
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p.jpg') center / cover no-repeat;")
									p Лев Попов
								p #основатель
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p2.jpg') center / cover no-repeat;")
									p Иван Попов
								p #основатель
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p5.jpg') center / cover no-repeat;")
									p Марина Сидельникова
								p #администратор
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p3.jpg') center / cover no-repeat;")
									p Алексей Соколов
								p #менеджер по продажам
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p4.jpg') center / cover no-repeat;")
									p Сун Лей
								p #менеджер по Китаю

			.container
				.row
					.col-12
						.d-flex.align-items-center.justify-content-end
							.personal__prev.fa.fa-angle-right
							.personal__next.fa.fa-angle-left

		.advantages#advantages
			.container
				.row
					.col-12.text-center
						h3 Почему вам выгодно работать с&nbsp;нами
					.col-12.d-none.d-lg-inline-block
						ul.nav.nav-pills.justify-content-between#av-tab
							li.nav-item: a.nav-link.active(href="#a1" data-toggle="tab") Ценовая <br/>политика
							li.nav-item: a.nav-link(href="#a2" data-toggle="tab") Надежность <br/>и уверенность
							li.nav-item: a.nav-link(href="#a3" data-toggle="tab") Мобильность <br/>и активность
							li.nav-item: a.nav-link(href="#a4" data-toggle="tab") Принципиальность <br/>в нашем ДНК
						.tab-content#av-content
							.tab-pane.fade.show.active#a1 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a4" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a1.png", alt="")
										strong Оптимальная ценовая политика
										p Мы предлагаем качество <br/>по&nbsp;конкурентоспособным ценам.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a2" data-toggle="tab")
							.tab-pane.fade#a2 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a1" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a2.png", alt="")
										strong Надежность и уверенность
										p Вы можете быть уверены в&nbsp;юридической <br/>чистоте и&nbsp;гарантии сделки.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a3" data-toggle="tab")
							.tab-pane.fade#a3 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a2" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a3.png", alt="")
										strong Мобильность и&nbsp;активность
										p Мы исследуем рынок Китая и знаем где, <br/>когда и&nbsp;с&nbsp;кем лучше взаимодействовать в&nbsp;настоящий момент времени.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a4" data-toggle="tab")
							.tab-pane.fade#a4 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a3" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a4.png", alt="")
										strong Принципиальность в нашем ДНК
										p В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для нас больше, чем просто слова.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a1" data-toggle="tab")
					.col-12.d-inline-block.d-lg-none
						.advantages__items
							strong Оптимальная ценовая политика
							p Мы предлагаем качественное оборудование по&nbsp;конкурентоспособным ценам
						.advantages__items
							strong Надежность и&nbsp;уверенность
							p Вы можете быть уверены в&nbsp;оказании качественных услуг до&nbsp;самого момента запуска станка в&nbsp;работу.
						.advantages__items
							strong Мобильность и&nbsp;активность
							p Мы контролируем производителей и&nbsp;знаем где, когда и&nbsp;у&nbsp;кого лучше приобретать оборудование в&nbsp;настоящий момент времени
						.advantages__items
							strong Принципиальность в&nbsp;нашем ДНК
							p В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для&nbsp;нас больше, чем просто слова. 
			
		.history#history
			.container
				.row
					.col-12
						.d-flex.align-items-center.justify-content-between.title
							h3 Истории успеха
							//- a.btn.btn-primary(href="#") добавить историю	

				.slick__history
					.history__items
						.row.align-items-center
							.col-lg-5
								.history__items--video
									//span "Магазин Профилей"
									//a.video.fancybox(href="https://www.youtube.com/watch?v=ScMzIvxBSi4"): video(src="" poster="assets/images/v.jpg")
									video(src="" poster="assets/images/client_2.jpg")
							.col-lg-7
								.history__items--text
									span Роман Валерьевич, «Магазин Профилей»
									p Уже 5 или 6 лет работаем с Иваном и Львом, за это время привезли из Китая несколько тысяч тонн рулонной стали. В обстановке жесткой конкуренции хорошие предложения на металл позволили нам удержать цену изделий и остаться в рынке. Также закупили несколько станков для расширения ассортимента. В общем по Китаю теперь все отлажено.
					.history__items
						.row.align-items-center
							.col-lg-5
								.history__items--video
									//span «Амурская Тара»
									//a.video.fancybox(href="https://www.youtube.com/watch?v=ScMzIvxBSi4"): video(src="" poster="assets/images/v2.jpg")
									video(src="" poster="assets/images/client_3.jpg")
							.col-lg-7
								.history__items--text
									span Инна Евгеньевна, «Амурская Тара»
									p Мы очень тщательно выбираем поставщиков оборудования – для нас это не просто машины, это часть компании. Сейчас куплено уже 6 станков, все работают стабильно, а от стабильности работы отдела производства зависит успех всего дела. Конечно, благодаря хорошему качеству, приемлемым ценам и индивидуальному подходу мы можем с уверенностью смотреть в будущее и расширять парк оборудования.
									//- a(href="#") Читать полностью

					.history__items
						.row.align-items-center
							.col-lg-5
								.history__items--video
									//span Владимир Викторович, ООО «РостовЕвроТрейд»
									//a.video.fancybox(href="https://www.youtube.com/watch?v=ScMzIvxBSi4"): video(src="" poster="assets/images/v2.jpg")
									video(src="" poster="assets/images/client_1.jpg")
							.col-lg-7
								.history__items--text
									span Владимир Викторович, ООО «РостовЕвроТрейд»
									p Когда речь заходит о надежных поставщиках, я считаю, что их надежность проверяется временем. Первые заводы мы вместе привезли еще в 2009 году, после этого были десятки станков, линий и даже спецтехники. Китай – это отдельный мир, работать с которым интересно, но только благодаря людям, которые знают свое дело и помогают мне в этом.
									//- a(href="#") Читать полностью
				.history__dots.mx-auto

		.faq#faq
			.container
				.row
					.col-12.text-center
						h3 Частые вопросы
					.col-12.mx-auto
						.faq__wrapper
							.faq__items.active#f1
								a.faq__title(href="#") Как найти в Китае именно то, что мне нужно?
								.faq__body
									p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!
							.faq__items#f2
								a.faq__title(href="#") Как я могу купить то, что не вижу?
								.faq__body
									p Большинство товаров, оборудования и технологий в Китае производится под заказ с учетом всех требований клиента. Для нас с вами главное быть уверенным в самом производителе – а это основной фундамент работы нашей компании. Более 80 % заводов уже сотрудничало с нами и мы знаем их качество, о котором вам расскажем честно, покажем реальные фото и видео. Вы будете знать что именно получите, даже работая под заказ.
							.faq__items#f3
								a.faq__title(href="#") Можно ли не встречаться лично, но начать сотрудничать?
								.faq__body
									p Мы официально зарегистрированная компания, работающая с официально уплачиваемым НДС. Мы заключаем договор, соответствующий всем нормам законодательства РФ. Вы оплачиваете деньги на расчетный счет в надежном банке. В нашей большой стране мобильность – признак современности. Нам достаточно нескольких часов, чтобы оформить договор, получить деньги и отправить их в Китай. Большинство клиентов работает с нами удаленно. И не забывайте, что предоплата чаще всего не более 40 %.
							.faq__items#f4
								a.faq__title(href="#") Кто будет осуществлять доставку, распаковку, монтаж и так далее?
								.faq__body
									p Наша главная цель – взаимовыгодное сотрудничество предпринимателей России и Китая. Мы организовываем взаимодействие между двумя странами и, конечно, привлекаем партнеров для выполнения отдельных этапов. Транспортировку осуществляют крупные транспортные компании с полным страхованием груза, а вот монтаж мы осуществим силами завода-производителя, только если вам он понадобится, это экономит ваши деньги.
		
		.blockquote#blockquote
			.container
				.row
					.col-lg-10.mx-auto.before
						p Путь в тысячу ли <br/>начинается с первого шага.
						span Лаоцзы
						img(src="assets/images/lao.png", alt="")

		.catalog#catalog
			.container
				.row
					.col-12
						h3 Наши каталоги
					.col-12
						.catalog__items
							p Оборудование для&nbsp;производства&nbsp;пакетов
							a(href="http://importpack.ru" target="_blank") importpack.ru
						.catalog__items
							p Оборудование для&nbsp;алмазного&nbsp;бурения
							a(href="http://redbur.ru" target="_blank") redbur.ru

	include include/footer
	include include/modal