include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-partner.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						.title-flex
							h1 Партнёрам
							a.btn.btn-primary(href="#") оставить заявку

		.box
			.container
				.row
					.col-lg-8
						h4 Акцентный небольшой текст с ноткой романтизма и подчёркнутого профессионализма.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
					.col-xl-3.col-lg-4.ml-auto.manager__block
						.w50
							h3 +7 (4162) 58-99-38
							p Бесплатно по России
						.w50
							h3 Алексей
							p Менеджер по продажам

		.box
			.container
				.row
					.col-12
						h2 Принципы нашей работы
					.col-lg-6
						.pr__items
							.image
								img(src="assets/images/site/p1.svg", alt="")
							.text
								strong Ответственность
								p Мы несем ответственность за качество выпущенной на заводе продукции, за качество услуг транспортной компании, за качество экспортера и перевозчика, за скорость работы таможенного инспектора, даже за водителя, направляющегося к вам, ведь мы выбрали для вас этих людей. И главное мы несем ответственность перед Вами.
					.col-lg-6
						.pr__items
							.image
								img(src="assets/images/site/p2.svg", alt="")
							.text
								strong Открытость
								p Мы открывты для наших партнёров как со стороны России, так и Китая. Мы легко участвуем в российских выставках с Китайскими заводами и легко посещаем Китай совместно с заказчиками. Мы уверены в наших партнёрах и сотрудничестве с ними.
					.col-lg-6
						.pr__items
							.image
								img(src="assets/images/site/p3.svg", alt="")
							.text
								strong Своевременность
								p Что важнее: скорость или качество? Цена или сохранность? Мы индивидуально рассматриваем каждого клиента и, согласно его предпочтениям, осуществляем сделку. «Медленно, но верно» или «полмира за 2 дня» – главное понять необходимость и сделать свою работу качественно. 
					.col-lg-6
						.pr__items
							.image
								img(src="assets/images/site/p4.svg", alt="")
							.text
								strong Доступность
								p Мы на расстоянии вытянутой руки – всегда на связи, всегда готовы выслушать и рассмотреть предложения. За каждым заказчиком закреплен личный менеджер с прямыми контактами и доступом. В любой момент Вы будете в курсе событий.
					.col-lg-6
						.pr__items
							.image
								img(src="assets/images/site/p5.svg", alt="")
							.text
								strong Индивидуальный подход
								p В числе наших клиентов и ИП, и крупные общества, частные предприниматели и государственные корпорации – все со своими особенностями и документооборотом. Мы не рисуем портреты клиентов на графиках – мы просто работаем и с пониманием относимся к каждому. 

		.form__consultation.box
			.container
				.row
					.col-12
						h2 Консультация
					.col-12
						form.row
							.col-xl-9.col-lg-8
								.row
									.col-lg-6
										.form-group.w-100
											input.form-control(type="text" placeholder="Представтесь")
									.col-lg-6
										.form-group.w-100
											input.form-control(type="text" placeholder="Телефон")
							.col-xl-3.col-lg-4
								button.btn.btn-primary получить консультацию
								p Нажимая на кнопку, вы соглашаетесь с обработкой личных данных

		.box.pt-0
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Недавние проекты
							.project-pagination
								.prev: img(src="assets/images/arrow-prev.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next.svg", alt="")
					.col-12
						.project-slider
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск


	include include/footer_inner
	include include/modal