include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-project.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 Реализованные проекты

		.tag
			.container
				.row
					.col-12
						ul
							li: a.active(href="#") 2019
							li: a(href="#") 2018
							li: a(href="#") 2017
							li: a(href="#") 2016
							li: a(href="#") 2015
							li: a(href="#") 2014
							li: a(href="#") 2013

		.box.pt-0
			.container
				.row
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-xl-4.col-lg-6.col-md-6.col-xs-12
						a.blog__item.blog__item--project(href="#")
							.image(style="background: url('assets/images/site/project.jpg')")
							.text
								p Лазерно-гравироваль слово для примера станок
								span Урюпинск
					.col-12
						ul.pagination
							li: a.prev(href="#")
							li: a(href="#") 1
							li: a.active(href="#") 2
							li: a(href="#") 3
							li: a(href="#") 4
							li: a(href="#") 5
							li: span ...
							li: a(href="#") 17
							li: a.next(href="#")

		.footer__link
			a.bg1(href="#"): span Услуги
			a.bg4(href="#"): span Гарантии
			a.bg2(href="#"): span Блог

	include include/footer_inner
	include include/modal