include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page.pb-0
			include include/header_inner

		.white-box
			.container
				.row
					.col-12
						a.back(href="#") Назад
					.col-12.title
						.d-flex.w-100.align-items-end.justify-content-between
							h1 Организация бизнес-поездок на&nbsp;заводы и&nbsp;выставки России и&nbsp;Китая
							a.btn.btn-primary(href="#") оставить заявку
					.col-12
						img(src="assets/images/site/article.jpg", alt="")
					.col-lg-8
						p: b Текст про компанию с ноткой романтизма и подчёркнутого профессионализма. Далее текст с сайта-конкурента. Мы являемся консалтинговой.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
					.col-lg-3.ml-auto
						a.video(href="#")
							span Видео-обзор
							p Короткий заголовок о чём  видео-обзор …

		.box
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Этапы работы
					.col-lg-4
						.work-steps__item
							span 01
							strong Название этапа
							p Краткий описательный текст. Тесные партнерские отношения с лучшими Краткий описательный текст. Тесные партнерские отношения с лучшими
					.col-lg-4
						.work-steps__item
							span 02
							strong Название этапа в две строки
							p Краткий описательный текст. Тесные партнерские отношения с лучшими Краткий описательный текст. Тесные партнерские отношения с лучшими производителями китайского оборудования 
					.col-lg-4
						.work-steps__item
							span 03
							strong Название этапа
							p Краткий описательный текст. Тесные партнерские отношения 

		.box
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Реализованные проекты
							.project-pagination
								.prev: img(src="assets/images/arrow-prev.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next.svg", alt="")
					.col-12
						.project-slider
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск

		.form__consultation.box
			.container
				.row
					.col-12
						h2 Консультация
					.col-12
						form.row
							.col-xl-9.col-lg-8
								.row
									.col-lg-6
										.form-group.w-100
											input.form-control(type="text" placeholder="Представтесь")
									.col-lg-6
										.form-group.w-100
											input.form-control(type="text" placeholder="Телефон")
							.col-xl-3.col-lg-4
								button.btn.btn-primary получить консультацию
								p Нажимая на кнопку, вы соглашаетесь с обработкой личных данных

		.box.pt-0
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Другие услуги
							a.all(href="#") все услуги

					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 01
							strong Импорт оборудования от надежных заводов
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 02
							strong Организация бизнес-поездок на заводы и выставки России и Китая
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков


	include include/footer_inner
	include include/modal