include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-services.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 Услуги
		.box
			.container
				.row
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center right / cover no-repeat")
							span 01
							strong Импорт оборудования от надежных заводов
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center right / cover no-repeat")
							span 02
							strong Организация бизнес-поездок на заводы и выставки России и Китая
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center right / cover no-repeat")
							span 03
							strong Поиск и выбор ответственных производителей в Китае
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center right / cover no-repeat")
							span 04
							strong Комплексное сопровождение экспорта Русской продукции
							p Оказываем весь спектр услуг для отечественных производителей от консалтинга и упаковки бренда, до экспорта продукции от лица своей компании. 
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center right / cover no-repeat")
							span 05
							strong Помощь в юридических аспектах в работе с Китаем
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
		.box.text
			.container
				.row
					.col-12
						h2 SEO заголовок
						p Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам! 
						a(href="#" class="spoiler"): span Показать всё 
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!
						p.d-none Лучший способ найти что-либо – знать, что искать. Расскажите все, что знаете о товаре или оборудовании – все параметры, характеристики, назначения. Расскажите о планах дальнейшего использования и о Ваших возможностях. Только максимум информации может дать полную картину. Мы всегда рады новым партнерам!

	include include/footer_inner
	include include/modal