include include/head
body
	.container
		.row
			.col-12
				ul(style="margin: 30px 0")
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="index.html") Главная
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="about.html") О нас
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="article.html") Статья
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="blog.html") Блог
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="catalog.html") Каталог
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="contacts.html") Контакты
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="faq.html") FAQ
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="guarantee.html") Гарантии
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="history.html") История
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="partners.html") Партнерам
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="project.html") Проекты
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="service.html") Услуга
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="services.html") Услуги
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="404.html") 404
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" data-toggle="modal" href="#callback") Обратный звонок (попап) 
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" data-toggle="modal" href="#thanx") Спасибо (попап)
	include include/modal