footer
	.map
		.dot.b.active(style="right:270px;bottom:330px")
			.d-flex.align-items-center
				.image
				p Благовещенск
			.dot-popup
				strong Головной офис
				p Амурская область, г. Благовещенск, ул. Октябрьская, д. 173/1, оф. 610 
				a.phone(href="tel:+79145589938") +7-914-558-99-38
				a.mail(href="mailto:ivan.popov@chex.ru") ivan.popov@chex.ru
		.dot.h(style="right:360px;bottom:280px")
			.d-flex.align-items-center
				.image
				p Хэйхэ
			.dot-popup
				strong Филиал г. Хэйхэ, КНР
				p Провинция Хэйлунцзян, г. Хэйхэ
				a.phone(href="tel:+86-1333-946-12-56") +86-1333-946-12-56
				a.mail(href="mailto:china@chex.ru") china@chex.ru
		.dot.k(style="left:180px;bottom:255px")
			.d-flex.align-items-center
				.image
				p Краснодар
			.dot-popup
				strong Филиал западный
				p Краснодарский край, г. Краснодар, ул. Красных Партизан, д. 393, оф. 601 
				a.phone(href="tel:+7-918-412-02-17") +7-918-412-02-17
				a.mail(href="mailto:leo.popov@chex.ru") leo.popov@chex.ru
	.container
		.row.align-items-center
			.col-12.d-inline-block.d-sm-none.text-center
				h3 Контакты
			.col-lg-4.d-sm-inline-block.d-none
				.d-flex.flex-column.align-items-start
					a.c(href="tel:+74162589938") +7 (4162) 58-99-38
					a.c(href="mailto:info@chex.ru") info@chex.ru
					a.request(href="#callback" data-toggle="modal") Оставить заявку
			.col-lg-8.d-lg-none
				.slick__dot
					.slick__dot--items
						.dot-popup
							strong Головной офис
							p Амурская область, г. Благовещенск, ул. Октябрьская, д. 173/1, оф. 610 
							a.phone(href="tel:+79145589938") +7-914-558-99-38
							br
							a.mail(href="mailto:ivan.popov@chex.ru") ivan.popov@chex.ru
					.slick__dot--items
						.dot-popup
							strong Филиал г. Хэйхэ, КНР:
							p Провинция Хэйлунцзян, г. Хэйхэ
							a.phone(href="tel:+86-1333-946-12-56") +86-1333-946-12-56
							br
							a.mail(href="mailto:china@chex.ru") china@chex.ru
					.slick__dot--items
						.dot-popup
							strong Филиал западный:
							p Краснодарский край, г. Краснодар, ул. Красных Партизан, д. 393, оф. 601 
							a.phone(href="tel:+7-918-412-02-17") +7-918-412-02-17
							br
							a.mail(href="mailto:leo.popov@chex.ru") leo.popov@chex.ru
			.col-12.d-inline-block.d-sm-none.text-center
				a.c(href="tel:+74162589938") +7 (4162) 58-99-38
				br
				a.c(href="mailto:info@chex.ru") info@chex.ru
				br
				a.btn.btn-primary(href="#callback" data-toggle="modal") Оставить заявку
	.container
		.bottom
			.row.align-items-center
				.col-sm-6: p © chex, 2019. все права защищены
				.col-sm-6.text-right: a(href="https://affetta.ru/" target="_blank") Создание и дизайн — affetta.ru

a.top_btn(href="#header"): em.fa.fa-angle-up