footer.footer__inner
	.container-fluid
		.row
			.col-lg-7.col-md-4
				.row
					.col-lg-6
						a.logo(href="#"): img(src="assets/images/site/logo.png", alt="")
						p Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае
					.col-3.d-none.d-lg-inline-block
						ul
							li: a(href="#") О нас
							li: a(href="#") Услуги
							li: a(href="#") Проекты
							li: a(href="#") Гарантии
							li: a(href="#") Блог
					.col-3.d-none.d-lg-inline-block
						ul
							li: a(href="#") Истории успеха
							li: a(href="#") Каталоги
							li: a(href="#") Партнёрам
							li: a(href="#") FAQ
							li: a(href="#") Контакты
			.col-lg-5.col-md-8
				.row
					.col-lg-6.col-md-5.ml-auto
						a.contacts__link(href="#") +7 (4162) 58-99-38
						a.contacts__link(href="#") info@chex.ru
						a.btn.btn-secondary(href="#") обратный звонок
					.col-lg-4.col-md-5
						a.insta(href="#"): img(src="assets/images/site/instagram.png", alt="")
						p Всё о бизнесе в Китае
	.container-fluid.bottom
		.row
			.col-sm-6.text-left
				p ©  chex, 2019
			.col-sm-6.text-right
				p создание и дизайн — <a href="#" target="_blank">affetta.ru</a>