header#header
	.container-fluid
		.row.align-items-center
			.col-lg-6.col-md-8.col-9
				.d-md-flex.align-items-center.d-none
					a.logo(href="#"): img(src="assets/images/logo.png", alt="")
					p Промышленное оборудование <br/>и бизнес-сопровождение ваших проектов в Китае
				.d-flex.align-items-center.d-md-none
					a.logo(href="#"): img(src="assets/images/logo-m.png", alt="")
					p Бизнес-сопровождение <br/>ваших проектов в Китае
			.col-lg-6.col-md-4.text-right.col-3
				a.menu(href="#")
					p Меню
					span