header.header__inner
	.container-fluid
		.row.align-items-center
			.col-xl-4.col-lg-4.col-6
				a.logo(href="#")
					img(src="assets/images/site/logo-h.png", alt="")
					p Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае
			.col-5.d-none.d-xl-inline-block
				ul
					li: a(href="#") О нас
					li: a(href="#") Услуги
					li: a(href="#") Проекты
					li: a(href="#") Гарантии
					li: a(href="#") Блог
					li: a(href="#") Контакты
			.col-xl-3.col-lg-8.text-right.col-6
				.d-flex.w-100.align-items-center.justify-content-end
					a.phone(href="#") +7 (4162) 58-99-38
					a.menu(href="#"): span