doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="HandheldFriendly" content="true")
		meta(http-equiv="cleartype" content="on")
		meta(http-equiv="msthemecompatible" content="no")
		meta(name="format-detection" content="telephone=no")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png?v2")

		include link
		include scripts

		title CHEX | Промышленное оборудование и бизнес-сопровождение ваших проектов в Китае