link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css")
link(rel="stylesheet" href="vendor/fontawesome/css/all.min.css")
link(rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css")
link(rel="stylesheet" href="vendor/slick-carousel/slick/slick.css")
link(rel="stylesheet" href="vendor/slick-carousel/slick/slick-theme.css")
link(rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.css")
link(rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.bootstrap3.css")
link(rel="stylesheet" href="vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css")
link(rel="stylesheet" href="assets/css/app.css")