div.modal.fade.bd-example-modal-lg#callback
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      button.close(data-dismiss="modal" aria-label="Close")
        span &times;
      div.modal-body
        form
          h3 Ваша заявка
          p Введите ваш номер телефона и&nbsp;менеджер свяжется с&nbsp;вами в&nbsp;течении часа.
          .form-group
            input.form-control(placeholder="+7 (___)" name="phone" required="required")
          .form-group
            textarea.form-control(name="comment", rows="3", placeholder="Ваш комментарий")
          button.btn.btn-primary(type="submit") Отправить заявку


div.modal.fade.bd-example-modal-lg#thanx
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      button.close(data-dismiss="modal" aria-label="Close")
        span &times;
      div.modal-body.text-center
        form.d-block
          h3 Спасибо! Заявка <br/>успешно отправлена
          p Ваш персональный  менеджер свяжется с вами в течении часа.


div.modal.fade.bd-example-modal-lg#personal
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      button.close(data-dismiss="modal" aria-label="Close")
        span &times;
      div.modal-body
        .row
          .col-md-4
            .image: img(src="assets/images/p2.jpg", alt="")
          .col-md-8
            .text
              h2 Лев Попов
              p #основатель
              .scroll
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam nulla repudiandae, pariatur, officia natus, minus ratione quae, eligendi ab voluptatibus. Dolorem cupiditate, eligendi harum.
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero pariatur commodi repellendus, perspiciatis, ratione quibusdam temporibus quo fuga accusamus, blanditiis, necessitatibus minus! Perferendis itaque, libero.
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nesciunt saepe temporibus, mollitia nisi alias facere delectus corporis voluptas. Perspiciatis labore, libero quibusdam architecto dolorem!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente amet eos hic doloremque recusandae non molestias maiores! Ab similique libero odio, magni nulla mollitia?