nav
	a.close(href="#") &#215;
	.container
		.row
			.col-lg-4
				ul
					li: a(href="#project") Наши проекты
					li: a(href="#services") Услуги
					li: a(href="#about") Познакомимся
					li: a(href="#work") Принципы работы
					li: a(href="#personal") Команда в лицах
			.col-lg-4
				ul
					li: a(href="#advantages") Почему вам выгодно
					li: a(href="#history") История в лицах
					li: a(href="#faq") Частные вопросы
					li: a(href="#catalog") Наши каталоги
			.col-lg-4
				a.phone(href="tel:+74162589938") +7 (4162) 58-99-38
				br
				a.mail(href="mailto:info@chex.ru") info@chex.ru
				br
				a.btn.btn-primary(href="#callback" data-toggle="modal") Оставить заявку

.nav-overlay