nav.inner
	a.close(href="#") &#215;
	.container
		.row
			.col-xl-3.col-lg-4.ml-auto
				ul
					li: a(href="#"): b О нас
					li: a(href="#"): b Услуги
					li: a(href="#"): b Проекты
					li: a(href="#"): b Гарантии
					li: a(href="#"): b Блог
					li: a(href="#"): b Контакты
			.col-xl-3.col-lg-4
				ul
					li: a(href="#") Истории успеха
					li: a(href="#") Каталоги
					li: a(href="#") Партнёрам
					li: a(href="#") FAQ
			.col-xl-3.col-lg-4.mr-auto
				.d-flex.flex-column.align-items-start
					a.phone(href="tel:+74162589938") +7 (4162) 58-99-38
					a.mail(href="mailto:info@chex.ru") info@chex.ru
					a.insta(href="#"): img(src="assets/images/site/inst.svg", alt="")
					p Всё о бизнесе в Китае
					a.btn.btn-primary(href="#callback" data-toggle="modal") Оставить заявку

.nav-overlay