script(src="vendor/jquery/dist/jquery.min.js")
script(src="vendor/jquery-ui/jquery-ui.min.js")
script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="vendor/fancybox/dist/jquery.fancybox.min.js")
script(src="vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js")
script(src="vendor/slick-carousel/slick/slick.min.js")
script(src="vendor/masonry.pkgd.min.js")
script(src="vendor/selectize.js-master/dist/js/standalone/selectize.min.js")
script(src="vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js")
script(src="assets/js/app.js")